                              <!--Item {{number}}-->
                              <div class="col-sm-4">
                                <a href="{{href}}" class="white-out">
                                  <img src="{{image}}" class="img-responsive" />
                                  <div class="course-detail">
                                    <div class="inner-text">
                                      <p><u>{{title}}</u></p>
                                      <p>Credits:{{credits}}</p>
                                      <p>Hours:{{hours}}</p>
                                    </div>
                                  </div>
                                </a>
                              </div>
