              <!--Collapse {{SectionNumber}}-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse0">{{SectionTitle}}</a></h3>
                  </div>
                  <div id="collapse{{CollapseNumber}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="accordion-inner">
                        <div class="row">
                          <section id="{{SectionID}}" class="col-sm-12 page-content course-section">
{{SectionHTML}}
                            </section>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End of Collapse {{SectionNumber}}-->
