<style>
<style>
.content{
	font-family:ariel;
	text-align:center;
	margin-left:100px;
	width:700px;
}
.topRegisterButton{
	background-color:blue;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:120px;
}
.topContent{
	display:inline;
	width:520px;
}
.topLeftContent{
	display:inline;
	width:250px;
	float:left;
}
.topPhoto{
	width:250px;
	height:250px;
}
.topRightContent{
	text-align:left;
	margin-left:20px;
	display:inline;
	width:250px;
}
.topRightRow{
	line-height:200%;
	padding-left:20px;
}
.topRightRowTitle{
	font-weight:bold;
	color:red;
}
.topActivityTitle{
	font-weight:bold;
	color:red;
}
ul.topRightUL{
	alight:left;
	padding-left:20px;

.clearDivFloat{
	clear: both;
}

.centerContent{
	text-align:left;
}

.centerContentTitle{
	text-decoration: underline;
}
.centerContentRedTitle{
	font-weight:bold;
	color:red;
}
.accreditations{
	position:relative;
	color:white;
	padding-bottom:400px;
}

.topRegisterButton{
	background-color:blue;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:120px;
}

.bottomRegisterButton{
	background-color:white;
	color:red;
	margin-left:auto;
	margin-right:auto;
	width:120px;
}

.bottomBackButton{
	background-color:purple;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:120px;
}
.bottomButtonRow{
	text-align:center;
	width:600px;
}

</style>

<div class="content">
	<div><button class="topRegisterButton">Register Now</button></div>

	<div class="topContent">
		<div class="topLeftContent">
			<img class=".topPhoto" src="{{coutsePhoto}}" alt="" />
		</div>

		<div class="topRightContent">
			<h2 class="topRightRow">
				<span class="centerContentRedTitle">{{Title}}</span>
			</h2>
			<div class="topRightRow">
				<span class="centerContentRedTitle">Credit:</span> {{Credit}}
			</div>
			<div class="topRightRow">
				<span class="centerContentRedTitle">Time:</span> {{Time}}
			</div>
			<div class="topRightRow">
				<span class="centerContentRedTitle">Format:</span> {{Format}}
			</div>
			<div class="topRightRow">
				<span class="centerContentRedTitle">Instructors:</span>
			</div>
			<ul class="topRightUL">
				{{Instructors}}
			</ul>
		</div>
	</div>

	<div class="clearDivFloat"> </div>

	<div style="text-align:left" >
		<h2><span class="centerContentTitle">Learning Objectives</span></h2>

		<div>
			<h3>
				<span class="topActivityTitle">At the end of this educational activity, participants should be able to:</span>
			</h3>
			<ul>
				{{Objectives}}
			</ul>
		</div>

		<h2><span class="centerContentTitle">Target Audience</span></h2>
		<div>Our primary audience is: {{TargetAudience}}</div>

	</div>

	<div class="centerContent">
		<h2><span  class="centerContentTitle">Types of Accreditation</span></h2>
	</div>

	<div class="accreditations">
		{{accreditations}}
	</div>

	<div class="bottomButtonRow">
		<button class="bottomRegisterButton">Register Now</button>
	</div>

	<div class="bottomButtonRow">
		<button class="bottomBackButton">Back to Course Listings</button>
	</div>

</div>

