<!doctype html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="media/index.ico">
  <!--[if lt IE 9]>
  <script src="dist/scripts/html5shiv.min.js"></script>
  <script src="dist/scripts/respond.min.js"></script>
  <![endif]-->
  <title>{{pagename}} | Home Base Program</title>
  <link rel="stylesheet" href="dist/styles/main.min.css">
  <link rel="stylesheet" href="dist/styles/page.css">
<style>
p.instructors{
    margin: 0px;
}
.course-specifics ul{
    padding: 0px;
    margin: 0px;
}
    .course-specifics ul li{
        margin: 0;
        color: black;
    }
        .course-specifics ul li:before{
            content: none;
        }
    .course-specifics ul li:nth-child(even){
        float: right;
        width: 50%;
        margin: 0;
    }
    .course-specifics ul li:nth-child(odd){
        float: left;
        width: 50%;
        margin: 0;
    }
</style>
</head>
  <body class="page make-a-donation">
    <!--[if lt IE 9]>
      <div class="alert alert-warning">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
      <header class="banner" role="banner">
    <div id="header-main">
      <div class="container">
        <div class="inner-header-main cf">
          <div class="row">
          	<div class="col-sm-5 logopart">
            	<a href="http://www.homebase.org" title="Home Base" class="logo"><img src="media/home-base-logo-stacked.png" alt="Home Base Program" title="Home Base Program"></a>
            </div>
            <div class="col-sm-5 pull-right">
              <div class="right-header">
                <div class="partner-logo">
                    <img class="img-responsive" src="media/partners-header.png" alt="partners-header" />
                    <a href="https://www.redsoxfoundation.org" title="Red Sox Foundation" target="_blank"><img src="media/header-red-sox-foundation.jpg" alt="Red Sox Foundation" title="Red Sox Foundation"></a>
                    <a href="http://www.massgeneral.org/" title="Massachusetts General Hospital" target="_blank"><img src="media/header-mass-general.jpg" alt="Massachusetts General Hospital" title="Massachusetts General Hospital"></a>
                </div>
                <div class="social-top">
                    <a href="http://www.facebook.com/homebaseprogram" title="twitter" target="_blank" class="fa fa-twitter social"></a>
                    <a href="http://www.facebook.com/homebaseprogram" title="facebook" target="_blank" class="fa fa-facebook social"></a>
                    <a href="http://www.youtube.com/homebaseprogram" title="youtube" target="_blank" class="fa fa-youtube social"></a>
                    <a href="#" title="instagram" target="_blank" class="fa fa-instagram social"></a>
                </div>
                <div class="right-nav">
                  <form class="search-field" role="search" method="get" action="http://www.homebase.org/">
                    <label class="sr-only">Search for:</label>
                    <input type="search" value="" name="s" placeholder="SEARCH">
                  </form>
                  <button type="submit" class="search-btnicon"><i class="fa fa-search"></i></button>
                  <a href="http://www.homebase.org/about-home-base/contact-us/" title="call us"><i class="fa fa-phone"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-navmain">
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-main">
                <nav class="navbar navbar-default yamm">
                  <div class="navbar-header">
                    <button title="navigation" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                  </div>
                  <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="Clinical Care" href="http://www.homebase.org/clinical-care/">Clinical Care<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
                        <ul class="dropdown-menu">
                          <li class="subnav">
                            <div class="row">
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/clinical-care/clinical-care-support/">Family Care + Support at Home Base</a></p>
                                <ul>
                            	  <li><a href="http://www.homebase.org/clinical-care/clinical-care-support/outpatient-veteran-family-clinic-regional/">Outpatient Veteran &amp; Family Clinic (Regional)</a></li>
                            	  <li><a href="http://www.homebase.org/clinical-care/clinical-care-support/intensive-clinical-program-national-regional/">Intensive Clinical Program (National/Regional)</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/clinical-care/our-model/">Our Model</a></p>
                              </div>
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/clinical-care/invisible-wounds-war/">Invisible Wounds of War</a></p>
								                <ul>
 								                <li><a href="http://www.homebase.org/clinical-care/invisible-wounds-war/pts-d/">Post Traumatic Stress (PTS)</a></li>
                            	  <li><a href="http://www.homebase.org/clinical-care/invisible-wounds-war/tbi/">Traumatic Brain Injury (TBI)</a></li>
                                <li><a href="http://www.homebase.org/clinical-care/invisible-wounds-war/other-invisible-wounds/">Other Invisible Wounds</a></li>
								                <li><a href="http://www.homebase.org/clinical-care/invisible-wounds-war/take-our-online-self-assessment/">Take our online self-assessment</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="Wellness &amp; Fitness" href="http://www.homebase.org/wellness-fitness/">Wellness &amp; Fitness<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
						<ul class="dropdown-menu">
                          <li class="subnav">
                            <div class="row">
                              <div class="col-sm-12">
                                <p><a href="http://www.homebase.org/wellness-fitness/warrior-health-fitness/">Warrior Health + Fitness</a></p>
                                <ul>
                            	  <li><a href="http://www.homebase.org/wellness-fitness/warrior-health-fitness/new-england/">New England</a></li>
                            	  <li><a href="http://www.homebase.org/wellness-fitness/warrior-health-fitness/southwest-florida/">Southwest Florida</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/wellness-fitness/mind-body-medicine/">Mind Body Medicine</a></p>
                                <ul>
                            	  <li><a href="http://www.homebase.org/wellness-fitness/mind-body-medicine/resilient-warrior/">Resilient Warrior</a></li>
                            	  <li><a href="http://www.homebase.org/wellness-fitness/mind-body-medicine/resilient-family/">Resilient Family</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/wellness-fitness/adventure-series-for-veterans-and-families/">Adventure Series for Veterans and Families</a></p>
                            </div>
                          </div></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="Education &amp; Training" href="http://www.homebase.org/education-training/">Education &amp; Training<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
						<ul class="dropdown-menu">
                          <li class="subnav">
                            <div class="row">
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/education-training/training-institute/">Training Institute</a></p>
                                <p><a href="http://www.homebase.org/education-training/staying-strong-support-for-military-children/">Staying Strong: Support for Military Children</a></p>
                                <p><a href="http://www.homebasetraining.org/Users/HomeBaseProductDetails.aspx?ActivityID=2771">*New* First Responder Training</a></p>
                                <p><a href="http://www.homebasetraining.org/Users/HomeBaseProductDetails.aspx?ActivityID=2669">*New* Allied Health Professional Training</a></p>
                              </div>
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/education-training/resources/">Resources</a></p>
                                <ul>
                                  <li><a href="http://www.homebase.org/education-training/resources/veterans-2/">Veterans</a></li>
                            	  <li><a href="http://www.homebase.org/education-training/resources/families/">Families</a></li>
                            	  <li><a href="http://www.homebase.org/education-training/resources/health-professionals/">Health Professionals</a></li>
                                  <li><a href="http://www.homebase.org/education-training/resources/first-responders/">First Responders</a></li>
                            	  <li><a href="http://www.homebase.org/education-training/resources/educators-school-nurses/">Educators &amp; School Nurses</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="Innovation" href="http://www.homebase.org/innovation/">Innovation<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
						<ul class="dropdown-menu">
              			  <li class="subnav">
                            <div class="row">
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/innovation/new-treatment-opportunities/">New Treatment Opportunities</a></p>
                                <ul>
  								  <li><a href="http://www.homebase.org/innovation/new-treatment-opportunities/overview/">Overview</a></li>
                            	  <li><a href="http://www.homebase.org/innovation/new-treatment-opportunities/facts-participating-clinical-trials/">Facts About Participating in Clinical Trials</a></li>
                            	  <li><a href="http://www.homebase.org/innovation/new-treatment-opportunities/featured-clinical-trials/">Featured Clinical Trials</a></li>
                                </ul>

                               </div>
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/innovation/technology/">Technology</a></p>
                                <p><a href="http://www.homebase.org/innovation/scientific-council/">Scientific Council</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="Contribute" href="http://www.homebase.org/contribute/">Contribute<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
						<ul class="dropdown-menu">
                          <li class="subnav">
                            <div class="row">
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/contribute/capital-campaign/">Capital Campaign</a></p>
                                <p><a href="http://www.homebase.org/contribute/get-involved/">Get Involved</a></p>
                                <ul>
                            	  <li><a target="_blank" href="https://giving.massgeneral.org/home-base/donate/">Make a Gift</a></li>
								  <li><a href="http://www.homebase.org/contribute/get-involved/giving-levels/">Giving Levels</a></li>
                                  <li><a href="http://www.homebase.org/contribute/get-involved/host-your-own-event/">Host Your Own Event</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/contribute/volunteer/">Volunteer</a></p>
                              </div>
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/contribute/signature-fundraising-events/">Signature Fundraising Events</a></p>
                                <ul>
                            	    <li><a href="http://www.homebase.org/contribute/signature-fundraising-events/veterans-day-telethon-special/">Veterans Day Special</a></li>
                                  <li><a href="http://www.homebase.org/contribute/signature-fundraising-events/mission-gratitude/">Mission Gratitude</a></li>
                                  <li><a href="http://www.homebase.org/contribute/signature-fundraising-events/run-to-home-base/">Run to Home Base</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/contribute/connect-with-care/">Connect With Care</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" role="button" data-hover="dropdown" class="dropdown-toggle" title="About Home Base" href="http://www.homebase.org/about-home-base/">About Home Base<span class="plus"><i class="fa fa-plus"></i></span> <span class="minus"><i class="fa fa-minus"></i></span></a>
                      	<ul class="dropdown-menu pull-right">
                          <li class="subnav">
                            <div class="row">
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/about-home-base/who-we-are/">Who We Are</a></p>
                                <ul>
                            	  <li><a href="http://www.homebase.org/about-home-base/who-we-are/our-mission/">Our Mission</a></li>
                            	  <li><a href="http://www.homebase.org/about-home-base/who-we-are/our-story/">Our Story</a></li>
                            	  <li><a href="http://www.homebase.org/about-home-base/who-we-are/our-team/">Our Team</a></li>
                                <li><a href="http://www.homebase.org/about-home-base/who-we-are/board-and-partners/">Board and Partners</a></li>
                                <li><a href="http://www.homebase.org/about-home-base/who-we-are/collaborators/">Collaborators</a></li>
                                </ul>
                                <p><a href="http://www.homebase.org/about-home-base/media-center/">Media Center</a></p>
                                <ul>
                            	  <li><a href="http://www.homebase.org/about-home-base/what-we-do/media-center/annual-reports/">Annual Reports</a></li>
                                <li><a href="http://www.homebase.org/about-home-base/what-we-do/media-center/newsroom/">Newsroom</a></li>
                                <li><a href="http://www.homebase.org/about-home-base/what-we-do/media-center/newsletters/">Newsletters</a></li>
                                </ul>
                              </div>
                              <div class="col-sm-6">
                                <p><a href="http://www.homebase.org/about-home-base/what-we-do/">What We Do</a></p>
                                <ul>
                                <li><a href="http://www.homebase.org/about-home-base/what-we-do/whats-different-about-home-base/">What's Different About Home Base</a></li>
                                </ul>
                               	<p><a href="http://www.homebase.org/about-home-base/locations/">Locations</a></p>
                                <p><a href="http://www.homebase.org/about-home-base/contact-us/">Contact Us</a></p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="page-banner">
  <div class="container cf">
    <div id="featured-banner" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="media/Banner-Training-1.png" alt="The Training Institute for Health Professionals" title="The Training Institute for Health Professionals">
              <div class="slider-content">
                  <h2>The Training Institute<br>For Health Professionals</h2>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <div class="wrapper" role="document">
    <div class="content">
      <div class="container cf">
        <main class="main" role="main">

            <div class="row">
              <div class="page-menu">
                   <div class="row">

                    <div class="col-xs-12">
                      <div class="breadcrumbs"><p><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a property="v:title" rel="v:url" href="http://www.homebase.org">Home</a> ? <span class="breadcrumb_last">{{pagename}}</span></span></span></p></div>
                    </div>

                    <div class="course-description">
                      <a href="{{registerUrl}}" class="btn btn-primary btn-lg">Register Now</a>
                    </div>

                  </div>
              </div>
            </div>
            <!-- Course Details -->

            <div class="row">
              <section class="col-sm-12 page-content course-details" >
                <div class="col-sm-6 col-md-6 course-img">
                  <img class="img-responsive" src="{{image}}" />
                </div>
                <div class="col-sm-6 col-md-6 course-specifics">
                  <h1>{{title}}</h1>
                  <p class="credits"><span>Credit:</span> {{credits}}</p>
                  <p class="time"><span>Time:</span> {{credits}}</p>
                  <p class="format"><span>Format:</span> <br>{{format}}</p>
                  <p class="instructors"><span>Instructors:</span></p>
                  <ul>
{{instructors}}
                  </ul>
                </div>
              </section>
            </div>

            <!-- Learning Objective -->
            <div class="row">
              <div class="col-sm-12 page-content course-objectives">
                <h4 style="color: #2a2e5b;font-weight: 700;">Learning Objectives</h4>
{{htmlObjectives}}
              </div>
            </div>

            <!-- Target Audience -->
            <div class="row">
              <div class="col-sm-12 page-content course-audience">
                <h4 style="color: #2a2e5b;font-weight: 700;">Target Audience</h4>
                <p>Our primary audience is: {{targetaudience}}</p>
              </div>
            </div>

            <!--Type of Accreditation-->
            <div class="row">
              <div class="col-sm-12 page-content course-accred">
                <h4 style="color: #2a2e5b;font-weight: 700;">Types of Accreditation</h4>
{{htmlAccreditations}}
              </div>
            </div>

            <!--Lower Buttons-->
            <div class="row">
              <section class="col-sm-12 page-content bottom-btns">
                <div class="register-btn">
                  <a href="{{registerUrl}}" class="btn btn-primary btn-lg">Register Now</a>
                </div>
                <div class="course-listing-back">
                  <a href="/test/courses/level2.php" class="btn btn-primary btn-lg">Back to Course Listings</a>
                </div>
              </section>
            </div>

        </main><!-- /.main -->
      </div>
    </div><!-- /.content -->
  </div><!-- /.wrap -->
    <footer class="content-info" role="contentinfo">
      <div id="logo-footer">
        <div class="container">
          <div class="inner-logo">
            <div class="row">
              <div class="col-xs-12">
                <a href="http://www.homebase.org" title="Home Base"><img src="" alt="Home Base Program" title="Home Base Program"></a>
                <div class="inner-partners">
                <a href="https://www.redsoxfoundation.org" title="Red Sox Foundation" target="_blank"><img src="media/header-red-sox-foundation.jpg" alt="Red Sox Foundation" title="Red Sox Foundation"></a>
                <a href="http://www.massgeneral.org/" title="Massachusetts General Hospital" target="_blank"><img src="media/header-mass-general.jpg" alt="Massachusetts General Hospital" title="Massachusetts General Hospital"></a>
              </div>

                <div class="footer-search">
                <form role="search" method="get" action="http://www.homebase.org/">
                  <label class="sr-only">Search for:</label>
                  <input type="search" value="" name="s" placeholder="SEARCH">
                  <input type="submit" value="SEARCH" class="ftr-searchbtn" title="SEARCH">
                </form>
                </div>
                <ul class="ftr-listlink">
                  <li class="menu-item menu-clinical-care"><a href="http://homebase.org/clinical-care/">Clinical Care</a></li>
                  <li class="menu-item menu-wellness-fitness"><a href="http://www.homebase.org/wellness-fitness/">Wellness &#038; Fitness</a></li>
                  <li class="menu-item menu-education-training"><a href="http://www.homebase.org/education-training/">Education &#038; Training</a></li>
                  <li class="menu-item menu-innovation"><a href="http://www.homebase.org/innovation/">Innovation</a></li>
                  <li class="menu-item menu-contribute"><a href="http://www.homebase.org/contribute/">Contribute</a></li>
                  <li class="menu-item menu-about-home-base"><a href="http://www.homebase.org/about-home-base/">About Home Base</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="partner-part" style="clear: both;">
        <div class="container">
          <div class="inner-partner cf">
            <div class="row">
              <div class="col-sm-4">
                <div class="block-1">
                  <h6><i class="fa fa-users fa-2x"></i> Our Partners</h6>
                  <p><a href="http://web.welcomebackveterans.org" target="_blank"><img class="alignleft img-responsive" src="media/Partners-homebaseorg.png" alt="partners-homebaseorg" width="256" height="174" /></a></p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="block-2">
                  <h6><i class="fa fa-map-marker fa-2x"></i> Network Locations</h6>
                  <p><a href="http://www.homebase.org/about-home-base/locations/"><img src="media/map-img.png" alt="map-img" /></a></p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="block-3">
                  <h6><i class="fa fa-twitter fa-2x"></i> Latest Tweet</h6>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="main-ftr">
        <div class="container">
          <div class="innerftr-main">
            <div class="col-sm-5 col-xs-12">
              <p>Copyright &copy; 2017 <a title="Home Base Program" href="http://www.homebase.org">Home Base Program</a></p>
            </div>
            <div class="col-sm-2 col-xs-12">
              <a title="Home Base Program" href="http://www.homebase.org"><img title="Home Base Program" alt="Home Base Program" src="media/homebase-footer-logo.png"></a>
            </div>
            <div class="col-sm-5 col-xs-12 pull-right">
              <ul>
                <li><a target="_blank" title="Careers" href="http://www.massgeneral.org/careers/apply/">Careers</a></li>
                <li><a href="http://www.homebase.org/privacy-and-security-statement/" title="privacy">Privacy</a></li>
                <li><a href="http://www.homebase.org/sitemap/" title="sitemap">Sitemap</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="dist/scripts/jquery.js"><\/script>')</script>
<script src="dist/scripts/main.js"></script>
<script>

	$(document).ready(function(){
		$('.course-accred').each(function () {

			var h = 0;

			$('.accreditation', this).each(function () {

				if (h < $(this).height()) {
					h = $(this).height();
				}
			});

			$('.accreditation', this).each(function () {
				$(this).css("height", h + 'px');
			});
			$('.accred-inner', this).each(function () {
				$(this).css("height", (h-10) + 'px');
			});
		});
	});

	(function(s,o,i,l){s.ga=function(){s.ga.q.push(arguments);if(o['log'])o.log(i+l.call(arguments))}
	s.ga.q=[];s.ga.l=+new Date;}(window,console,'Google Analytics: ',[].slice))
	ga('create','UA-70403905-1','auto');ga('send','pageview')
</script>
</body>
</html>