                <div class="accreditation col-sm-4">
                  <div class="accred-inner accred-{{oddeven}}" id="box_accred_{{accreditationNumber}}">
                    <h6>{{creditType}}</h6>
                    <p><span>Accreditation Statement:</span>{{accreditationStatment}}</p>
                    <p><span>Designation Statement:</span>{{designationStatment}}</p>
                  </div>
                </div>

