/* ----- Fonts ------ */

@font-face {
    font-family: 'exo_2regular';
    src: url(../fonts/exo2-regular-webfont.eot);
    src: url(../fonts/exo2-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo2-regular-webfont.woff2) format('woff2'),
         url(../fonts/exo2-regular-webfont.woff) format('woff'),
         url(../fonts/exo2-regular-webfont.ttf) format('truetype'),
         url(../fonts/exo2-regular-webfont.svg#exo_2regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_light';
    src: url(../fonts/exo2-extralight-webfont.eot);
    src: url(../fonts/exo2-extralight-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo2-extralight-webfont.woff2) format('woff2'),
         url(../fonts/exo2-extralight-webfont.woff) format('woff'),
         url(../fonts/exo2-extralight-webfont.ttf) format('truetype'),
         url(../fonts/exo2-extralight-webfont.svg#exo_2extra_light) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2semi_bold';
    src: url(../fonts/exo2-semibold-webfont.eot);
    src: url(../fonts/exo2-semibold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo2-semibold-webfont.woff2) format('woff2'),
         url(../fonts/exo2-semibold-webfont.woff) format('woff'),
         url(../fonts/exo2-semibold-webfont.ttf) format('truetype'),
         url(../fonts/exo2-semibold-webfont.svg#exo_2semi_bold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2light';
    src: url(../fonts/exo2-light-webfont.eot);
    src: url(../fonts/exo2-light-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo2-light-webfont.woff2) format('woff2'),
         url(../fonts/exo2-light-webfont.woff) format('woff'),
         url(../fonts/exo2-light-webfont.ttf) format('truetype'),
         url(../fonts/exo2-light-webfont.svg#exo_2light) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_bold';
    src: url(../fonts/exo2-extrabold-webfont.eot);
    src: url(../fonts/exo2-extrabold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/exo2-extrabold-webfont.woff2) format('woff2'),
         url(../fonts/exo2-extrabold-webfont.woff) format('woff'),
         url(../fonts/exo2-extrabold-webfont.ttf) format('truetype'),
         url(../fonts/exo2-extrabold-webfont.svg#exo_2extra_bold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cocogoose;
    src: url(../fonts/Cocogoose.eot);
    src: url(../fonts/Cocogoose.eot?#iefix) format("embedded-opentype"),
         url(../fonts/Cocogoose.woff2) format("woff2"),
         url(../fonts/Cocogoose.woff) format("woff"),
         url(../fonts/Cocogoose.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Cocogoose Light';
    src: url(../fonts/Cocogoose-Light.eot);
    src: url(../fonts/Cocogoose-Light.eot?#iefix) format("embedded-opentype"),
         url(../fonts/Cocogoose-Light.woff2) format("woff2"),
         url(../fonts/Cocogoose-Light.woff) format("woff"),
         url(../fonts/Cocogoose-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Cocogoose DemiBold';
    src: url(../fonts/Cocogoose-DemiBold.eot);
    src: url(../fonts/Cocogoose-DemiBold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/Cocogoose-DemiBold.woff2) format("woff2"),
         url(../fonts/Cocogoose-DemiBold.woff) format("woff"),
         url(../fonts/Cocogoose-DemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'Caecilia LT Std Roman';
    src: url(../fonts/CaeciliaLTStd-Roman.eot);
    src: url(../fonts/CaeciliaLTStd-Roman.eot?#iefix) format("embedded-opentype"),
         url(../fonts/CaeciliaLTStd-Roman.woff2) format("woff2"),
         url(../fonts/CaeciliaLTStd-Roman.woff) format("woff"),
         url(../fonts/CaeciliaLTStd-Roman.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

/* ----- Reset ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style: none;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,select,input,option {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

html {
    -webkit-text-size-adjust: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
    content: none;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .3s ease-out 0;
    -o-transition: all .3s ease-out 0;
    transition: all .3s ease-out 0;
}

button:hover,input:hover,button:focus,input:focus {
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .3s ease-out 0;
    -o-transition: all .3s ease-out 0;
    transition: all .3s ease-out 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
}

:focus {
    outline: 0;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: 400;
}

a {
    text-decoration: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
}

blockquote,q {
    quotes: "" "";
}

table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

img {
    border: 0 none;
    max-width: 100%;
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .3s ease-out 0;
    -o-transition: all .3s ease-out 0;
    transition: all .3s ease-out 0;
}

a:hover {
    -webkit-transition: all .3s ease-out 0;
    -moz-transition: all .3s ease-out 0;
    -o-transition: all .3s ease-out 0;
    transition: all .3s ease-out 0;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.none,.preloader {
    display: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: Cocogoose,"Helvetica Neue",Helvetica,Arial,sans-serif
}

b, strong{font-weight: 700}

/*
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    *zoom:1;
}

*/

.cf { *zoom:1; clear: both; }

/* ----- General ----- */

body {
    margin: 0;
    padding: 0;
    background: #edf2fa;
    font-style: normal;
    line-height: 1em;
    font-family: "Caecilia LT Std Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
}

.wrapper {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body,html {
    min-height: 100%;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    margin: 0;
    font-size: 24px;
    /* font-family: 'exo_2light'; */
}

h3 {
    margin: 0;
    font-size: 24px;
}

h4 {
    margin: 0;
    font-size: 18px;
}

h5 {
    margin: 0;
    line-height: normal;
    font-size: 16px;
}

h6 {
    margin: 0;
    line-height: normal;
}

p {
    margin: 0;
    font-size: 16px;
    line-height: normal;
}

a.social {
    padding: 7px 0 0;
    margin: 0 2px 0 0;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

a.social:hover {
    background: #2a2e5b;
}

.fa-twitter {
    background: #5ea9dd;
}

.fa-facebook {
    background: #3b5998;
}

.fa-youtube {
    background: #dc3131;
}

.fa-instagram {
    background: #3f729b;
}

.btn-group .btn-default {
    margin: 25px 12px 0 0;
    line-height: 44px;
    border-radius: 3px;
    width: 320px;
    height: 64px;
    background: #e12d45;
    color: #fff;
    text-transform: uppercase;
    /* font-family: 'exo_2regular'; */
}

.btn-group .btn-default:hover {
    background: #2a2e5b;
}

::-webkit-input-placeholder {
    color: #d3d3d3 !important;
    opacity: 1;
    font-size: 16px;
    text-transform: uppercase
}

::-moz-placeholder {
    color: #d3d3d3 !important;
    opacity: 1;
    font-size: 16px;
    text-transform: uppercase
}

:-ms-input-placeholder {
    color: #d3d3d3 !important;
    opacity: 1;
    font-size: 16px;
    text-transform: uppercase
}

input::-moz-placeholder {
    color: #2a2e5b;
    opacity: 1;
    font-size: 16px;
    text-transform: uppercase
}

.container{
	padding: 0;	
}

img.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* --- Equal Height --- */

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* ----- Modals ----- */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}