@media (max-width:1199px) {
	
  .about-homebase p br {
	display: none;
  }
  
  .learn-info p br {
	display: none;
  }
  
  .learn-info p {
	min-height: 130px;
	font-size: 16px;
  }
  
  .inner-header-main {
	padding-top: 20px;
  }
  
  #header-main .logopart{
	margin-top: 0;	
  }
  
  .logo {
	padding: 0;
	width: 100%;
	padding-left: 14px;
  }
  
  .inner-header-main .col-sm-5.logopart {
	width: 34%;
	float: left;
  }
  
  .inner-header-main .col-sm-5 {
	width: 47%;
	float: right;
  }
  
  .right-header {
	padding-right: 0;
	padding-left: 0;
  }
  
  .nav-main {
	padding: 0;
  }
  
  .nav-main ul li a {
	font-size: 12.5px;
  }
  
  .block-inner p {
	font-size: 15px;
  }
  
  .news-main {
	padding: 50px 30px;
  }
  
  .news-main .col-sm-5 {
	margin: 0 110px 0 0;
  }
  
  .news-main .col-sm-5.last {
	float: right;
  }
  
  .newletter-left p,.newletter-left h6 {
	font-size: 16px;
  }
  
  .about-homebase {
	padding: 40px 20px;
  }
  
  .about-homebase.two {
	padding: 20px 0 20px 15px;
  }
  
  .abtsnd-content p.str-title br {
	display: none;
  }
  
  .inner-partner {
	padding: 60px 0 0;
  }
  
  .innerftr-main {
	padding: 0;
  }
  
  .innerftr-main ul li {
	margin-right: 40px;
  }
  
  .page-menu-accordian {
	padding-left: 30px;
	min-height: 250px;
	
  }
  
  .page-menu-right{
	min-height: 250px;  
  }
  
  .page-menu{
	overflow: hidden;  
  }
  
  .accordion-body ul {
	margin-left: 15px;
  }
  
  .internal-excellence-space {
	padding: 0 30px;
  }
  
  .internal-excellence {
	padding: 50px 0;
  }
  
  .traumatic p {
	padding: 30px 0 45px;
  }
  
  .recognizing .img-shape {
	height: 338px;
  }
  
  .traumatic_bdr .img-shape,.invisible-wounds.traumatic {
	height: 338px;
  }
  
  .carousel-inner>.item {
	height: auto;
  }
  
  .about-img img {
	height: 484px;
  }
  
  .abt-img1 .img-shape,.abt-img2 .img-shape {
	height: 484px;
  }
  
  .abt-img1 .img-shape {
	left: 29px;
  }
  
  .abt-img3 .img-shape {
	height: 555px;
  }
  
  .nav > li > a {
	padding: 0 10px;
  }
  
  .invisible-wounds-img img,.invisible-wounds {
	height: 400px;
	width: 100%;
  }
  
  .slider-content {
	margin-left: 75px;
  }
  
  .slider-content h2 {
	font-size: 28px;
	line-height: 38px;
	max-width: 485px;
  }
  
  .recognizing .img-shape {
	height: 400px;
  }
  
  .traumatic_bdr .img-shape,.invisible-wounds.traumatic {
	height: 400px;
  }
  
  .page-menu-right::before {
	border-top: 425px solid #E12A43;
  }
  
  .recognizing .container.cf {
	background: #fff;
  }
  
  .main .search-results, 
  .post, 
  article.locations {
	padding: 20px 25px;
  }
  
}

@media (max-width:991px) {
	
  .block {
	min-height: 360px;
  }
  
  .block-inner p {
	font-size: 11px;
  }
  
  .inner-header-main .col-sm-5 {
	width: 57%;
  }
  
  .menu-navmain .col-sm-8 {
	width: 100%;
	float: left;
  }
  
  .menu-navmain {
	position: relative;
	padding-top: 10px;
  }
  
  .nav-main {
	padding: 0;
  }
  
  .navbar.navbar-default {
	width: 100%;
  }
  
  .navbar-header {
	width: auto;
	float: right;
  }
  
  .navbar-collapse {
	width: 100%;
	padding: 0;
	float: left;
  }
  
  .navbar-nav {
	margin: 0;
	width: 100%;
  }
  
  .nav > li {
	border-bottom: 1px solid #c81d34;
	width: 100%;
  }
  
  .nav > li > a {
	padding: 0 0 0 10px;
  }
  
  .nav-main ul li a {
	font-size: 16px;
  }
  
  .navbar-toggle {
	margin-top: -50px;
  }
  
  .navbar{
  	min-height: 0;
  }
  
  .nav-main ul li span {
	float: right;
	margin: 0 5px 0 0;
  }
  
  .nav-main ul li.open span.minus {
	margin: 0 5px 0 0;
  }
  
  .nav-main ul li.open span.plus {
	margin: 0 5px 0 0;
  }
  
  .nav-main ul li ul {
	width: 100%;
	padding: 15px 15px 25px;
  }
  
  .nav-main ul li ul li {
	width: 100%;
	float: left;
	margin-bottom: 0;
	margin-right: 0;
	min-height: 38px;
  }
  
  .nav > li {
	width: 100%;
	clear: both;
  }
  
  .navbar-nav .dropdown-menu{
	position: relative !important;  
  }
  
  .navbar-nav .open .dropdown-menu {
	width: 100%;
	float: left;
	background: #e12a43;
	min-width: 100%;
  }
  
  .navbar-collapse.in {
	overflow: inherit;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
	display: block;
	padding: 10px 0 8px;
	line-height: 20px;
  }
  
  .slider-content h2 a {
	top: 0;
  }
  
  .abt-img1 .img-shape {
	left: -14px;
  }
  
  .block::before {
	min-height: 354px;
  }
  
  .block::after {
	min-height: 354px;
  }
  
  .block:hover::after {
	min-height: 354px;
  }
  
  .logo {
	padding: 0;
	width: 100%;
	padding-left: 0;
  }
  
  .right-nav {
	display: none;
  }
  
}

@media (max-width:991px) and (min-width: 768px) {
	
  .page-menu-right {
	padding: 20px;
	min-height: 25px;
  }
  
  .page-menu-right .newsletter-form{
	padding: 0 40px;
  }
  
  .page-menu-accordian {
	min-height: 250px;
	padding: 30px 15px 0 !important;
  }
  
  .page-menu-accordian p{
	font-size: 16px;
	padding-right: 10px;  
  }
  
 .page-menu-right{
	 min-height: 250px;
 }
 
 .page-content{
	padding:  0 45px 20px;
 }
  
  .invisible-wounds-img img,.invisible-wounds {
	height: 400px;
	width: 100%;
  }
  
  .slider-content {
	margin-left: 75px;
  }
  
  .slider-content h2 {
	font-size: 28px;
	line-height: 38px;
	max-width: 485px;
  }
  
  .recognizing .img-shape {
	height: 400px;
  }
  
  .traumatic_bdr .img-shape,.invisible-wounds.traumatic {
	height: 400px;
  }
  
  .page-menu-right::before {
	border-top: 425px solid #E12A43;
  }
  
  #header-main {
	padding-bottom: 45px;
  }
  
}
  
@media (min-width:768px) and (max-width:850px) {}
  
@media (max-width:767px) {
	
  .row {
	margin: 0;
  }
  
  .row-eq-height{
	display: block !important;
  }
  
  #header-main {
	padding: 15px 0 50px;
  }
  
  .right-header {
	padding: 0;
  }
  
  .inner-header-main {
	width: 100%;
	text-align: center;
	float: none;
	display: inline-block;
	padding: 0;
  }
  
  .inner-header-main .col-sm-5.pull-right {
	float: none!important;
  }
  
  .inner-header-main .col-sm-5.logopart {
	width: 100%;
	text-align: center;
	float: none;
  }
  
  .btn-group .btn-default {
	width: 190px;
  }
  
  .logo {
	float: none;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
  }
  
  .partner-logo {
	width: 100%;
	float: none;
	text-align: center;
	display: inline-block;
	margin: 15px 0 0;
  }
  
  .partner-logo a {
	margin-bottom: 15px;
  }
  
  .inner-header-main .col-sm-5 {
	width: 100%;
	float: none;
  }
  
  .about-homebase.two {
	padding: 20px 0;
  }
  
  .learn-info {
	padding: 20px 0;
  }
  
  .learn-info p,.learn-info h2 {
	margin-bottom: 15px;
	margin-top: 15px;
	min-height: inherit;
  }
  
  .block {
	min-height: inherit;
  }
  
  .block-inner p {
	font-size: 16px;
  }
  
  .about-homebase {
	padding: 20px 0 40px;
  }
  
  .about-homebase h2 {
	margin: 15px 0 5px;
  }
  
  .about-homebase p {
	margin-bottom: 15px;
  }
  
  .about-page .col-sm-7.pull-right {
	float: none!important;
  }
  
   .home-blocks .learn-info{
	   margin-bottom: 25px;
	   padding-top: 0;
   }
  
  .home-blocks .btn-default{
	position: relative !important;
	margin-left: 0 !important;
	top: auto !important;
	left: auto !important; 
	clear: both !important;
  }
  
  .news-main {
	padding: 20px 0 0;
  }
  
  .news-main .col-sm-5 {
	padding: 0 15px;
	margin: 0;
  }
  
  .newletter-left {
	margin-bottom: 20px;
  }
  
  .news-main .col-sm-5.last {
	float: left;
	width: 100%;
  }
  
  .about-page .col-sm-7,.about-page .col-sm-5 {
	padding: 0 15px;
  }
  
  .abtsnd-content .col-sm-5,.abtsnd-content .col-sm-7 {
	width: 100%;
	padding: 0;
	margin-bottom: 15px;
  }
  
  #partner-part {
	padding-bottom: 10px;
  }
  
  .inner-partner a {
	margin-bottom: 15px;
  }
  
  .inner-partner {
	margin: 0;
  }
  
  .inner-partner {
	padding: 20px 0;
  }
  
  .inner-partner .col-sm-4 {
	margin: 20px 0 0;
  }
  
  .innerftr-main {
	padding: 0;
  }
  
  .innerftr-main p {
	margin: 0 0 15px;
	font-size: 11px;
	text-align: center;
  }
  
  .innerftr-main ul {
	margin-top: 10px;
	float: none;
	display: inline-block;
	text-align: center;
	width: 100%;
  }
  
  .innerftr-main ul li {
	margin-right: 20px;
	float: none;
	display: inline-block;
  }
  
  .block-inner {
	padding-left: 10px;
	padding-right: 10px;
  }
  
  .page-menu-care .row {
	margin: 0;
  }
  
  .page-menu-care .col-sm-5,.page-menu-care .col-sm-7 {
	padding: 0;
  }
  
  .page-menu-right::before {
	border: 0;
  }
  
  .page-menu-right {
	padding: 47px 0 0 30px;
  }
  
  .internal-excellence {
	float: left;
	width: 100%;
  }
  
  .invisible-wounds-img .pull-right,.invisible-wounds-img .pull-right img {
	width: 100%
  }
  
  .invisible-wounds p,.traumatic .reco-title,.reco-title {
	margin: 0 auto;
  }
  
  .invisible-wounds {
	text-align: center;
  }
  
  .internal-excellence-content p {
	width: 100%;
	margin-bottom: 15px;
  }
  
  .page-menu-right p {
	padding-right: 20px;
  }
  
  .slider-content {
	margin-left: 50px;
  }
  
  .slider-content h2 {
	font-size: 24px;
	line-height: 36px;
	max-width: 85%;
  }
  
  br {
	display: none;
  }
  
  .img-shape {
	display: none;
  }
  
  .traumatic_bdr .img-shape,.invisible-wounds.traumatic {
	height: auto;
  }
  
  .about-img img {
	height: inherit;
	width: 100%;
  }
  
  .block::after,.block::before {
	min-height: 330px
  }
  
  .block::after {
	min-height: 330px;
  }
  
  .block:hover::after {
	min-height: 330px;
  }
  
  input.valid {
	background: #fff url(../images/right-tick.svg) no-repeat scroll right -2px;
	background-size: 6% auto!important;
	transition: border .3s ease 0;
  }
  
  input.error {
	background: #fff url(../images/cross.svg) no-repeat scroll right -2px;
	background-size: 6% auto!important;
	transition: border .3s ease 0;
  }
  
  .invisible-wounds-img img,.invisible-wounds {
	height: auto;
	margin-bottom: 20px;
  }
  
  .about-img img {
	margin-bottom: 20px;
  }
  
  .page-menu .col-sm-5,
  .page-menu .col-sm-7{
	padding: 0;  
	border: 0;
  }
  
  .page-menu-accordian{
	min-height: 0;  
  }
  
  .page-menu-accordian h3,
  .page-menu-accordian a.btn, 
  .page-menu-accordian a.gform_button{
	width: 100%; 
  }
  
  .page-menu-accordian,
  .page-menu-right{
	padding: 20px;  
  }
  
  .page-menu .col-xs-12{
	padding: 0;  
  }
  
  .page-content{
	  padding: 0 45px 20px;
  }
  
  #partner-part{
	text-align: center;  
  }
  
  .page-menu-right .newsletter-form{
	padding: 0 20px !important;  
  }
  
  .main{
	padding: 0 5px !important;  
  }
  
  .sidebar{
	margin-top: 15px 5px;
  }
  
  .breadcrumbs .social,
  .breadcrumbs .nav{
	padding: 0;  
  }
  
}

@media (max-width:640px) {
	
  .ftr-listlink li {
	margin-right: 12px;
  }
  
}
  
@media (max-width:480px) {
  .btn-group .btn-default {
	width: 100%;
  }
  
  .footer-search {
	width: 100%;
  }
  
  .footer-search input {
	width: 90%;
  }
  
  .invisible-wounds p {
	max-width: 100%;
  }
  
  .slider-content h2 {
	font-size: 13px;
	line-height: 22px;
	text-align: center;
  }
  
  .slider-content h2 a {
	height: 24px;
	width: 24px;
  }
  
  .slider-content h2 i {
	font-size: 12px;
	margin-top: -6px;
	left: 1px;
  }
  
  .block::after,.block::before {
	min-height: 355px;
  }
  
  .right-nav input.search-open {
	width: 140px;
  }
  
  input.error,input.valid {
	background-position: right 9px;
  }
  
  input.valid {
	background: #fff url(../images/right-tick.svg) no-repeat scroll right 9px;
	background-size: 9% auto!important;
	transition: border .3s ease 0;
  }
  
  input.error {
	background: #fff url(../images/cross.svg) no-repeat scroll right 9px;
	background-size: 9% auto!important;
	transition: border .3s ease 0;
  }
  
  .btn-readmore {
	padding: 10px 0;
	width: 120px;
  }
  
  .accordion-heading .accordion-toggle > em {
	margin-left: 5px;
  }
  
  .accordion-group {
	margin-top: 10px;
  }
  
}

@media (max-width:376px) {
	
  .traumatic_btn .watch-video {
	margin-left: 5px;
  }
  
  .btn-readmore {
	padding: 10px 0;
	width: 94px;
	line-height: 20px;
	letter-spacing: 0;
  }
  
  .internal-right,.internal-excellence-space {
	padding-left: 15px;
  }
  
  .page-menu-right h3 {
	max-width: 100%;
  }
  
}