// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;
$grid-float-breakpoint: 1200px;

// Colors
$brand-primary:         #e12a43;
$brand-success: 		#2a2e5b;

//Navbar
$navbar-height: 					45px;
$navbar-default-bg:     			#fff;
$navbar-default-border: 			none;
$navbar-default-link-color: 		#2a2e5b;
$navbar-default-link-hover-color:   #fff;
$navbar-default-link-hover-bg: 		#2a2e5b;
$navbar-default-link-active-color: 	#fff;
$navbar-default-link-active-bg: 	#2a2e5b;
