.fa-live-preview{
	display: none !important;	
}

.acf-pull-left .acf-row{
	clear: none !important;
	float: left !important;
	width: 33% !important;
}

.acf-pull-left-50 .acf-row{
	clear: none !important;
	float: left !important;
	width: 50% !important;
}

.acf-pull-left .acf-row .acf-fields,
.acf-pull-left-50  .acf-row .acf-fields{
	width: 100% !important;	
}