            <div class="row">
              <div class="tertiary-menu">
                <div class="row">

                  <div class="col-xs-12">
                    <div class="breadcrumbs">
                      <div class="row">
                        <div class="col-xs-8">
                          <p>
                            <span xmlns:v="http://rdf.data-vocabulary.org/#">
                              <span typeof="v:Breadcrumb"><a property="v:title" rel="v:url" href="http://homebase.launchpaddev.com/">Home</a> &raquo;
                              <span rel="v:child" typeof="v:Breadcrumb"><a href="http://homebase.launchpaddev.com/education-training/" rel="v:url" property="v:title">Education &#038; Training</a> &raquo;
                              <span rel="v:child" typeof="v:Breadcrumb"><a href="http://homebase.launchpaddev.com/education-training/training-institute/" rel="v:url" property="v:title">Training Institute</a> &raquo;
                              <span id="second_to_last" rel="v:child" typeof="v:Breadcrumb"><a href="http://homebase.launchpaddev.com/education-training/training-institute/courses-secondary/" rel="v:url" property="v:title" class="second_to_last">Courses Secondary</a> &raquo;
                              <span class="breadcrumb_last">{{title}}</span>
                              </span>
                              </span>
                              </span>
                              </span>
                              </span>
                              </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  </div>
              </div>
            </div>

            <div class="row">
              <section class="col-sm-12 page-content bottom-btns">
                <div class="register-btn">
                  <a target="_blank" href="https://homebasetraining.org/Users/HomeBaseUserLogin.aspx?ReturnURL=/users/producthomepage.aspx?ProductID={{id}}" class="btn btn-primary btn-lg {{disable-register}}">Register Now</a>
                </div>
              </section>
            </div>

            <!-- Course Details -->
            <div class="row">
              <section class="col-sm-12 page-content course-details" >
                <div class="col-sm-6 col-md-6 course-img">
                  <img class="img-responsive" src="{{image}}" alt="" />
                </div>
                <div class="col-sm-6 col-md-6 course-specifics">
                  <h1>{{title}}</h1>
                  <p class="credits"><span>Credit:</span> {{credits}}</p>
                  <p class="time"><span>Time:</span> {{credits}}</p>
                  <p class="format"><span>Format:</span> <br>{{format}}</p>
                  <p class="instructors"><span>Instructors:</span></p>
                  <ul class="clearfix">

{{instructors}}
                  </ul>
                </div>
              </section>
            </div>

{{htmlBlueboxtextDiv}}

            <!-- Learning Objective -->
            <div class="row">
              <div class="col-sm-12 page-content course-objectives">
                {{htmlVideoDiv}}
                <div class="{{objectivesClasses}} learning-obj">
                  <h4 style="color: #2a2e5b;font-weight: 700;">Learning Objectives</h4>
                  {{htmlObjectives}}
                </div>
              </div>
            </div>

            <!-- Target Audience -->
            <div class="row">
              <div class="col-sm-12 page-content course-audience">
                <h4 style="color: #2a2e5b;font-weight: 700;">Target Audience</h4>
                <p>Our primary audience is: {{targetaudience}}</p>
              </div>
            </div>

            <!--Type of Accreditation-->
            <div class="row">
              <div class="col-sm-12 page-content course-accred">
                <h4 style="color: #2a2e5b;font-weight: 700;">Types of Accreditation</h4>

					<!--Accordion-->
					<div class="accordion">
					  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{{htmlAccreditations}}
					  </div><!--//End of Panel Group-->
					</div><!--//End of Accordion-->

              </div>
            </div>

            <!--Lower Buttons-->
            <div class="row">
              <section class="col-sm-12 page-content bottom-btns">
                <div class="register-btn">
                  <a target="_blank" href="https://homebasetraining.org/Users/HomeBaseUserLogin.aspx?ReturnURL=/users/producthomepage.aspx?ProductID={{id}}" class="btn btn-primary btn-lg {{disable-register}}">Register Now</a>
                </div>
                <div class="course-listing-back" id="return-btn">
                  <a href="http://homebase.launchpaddev.com/education-training/training-institute/courses-secondary/">Return</a>
                </div>
              </section>
            </div>
<!-- {{debug}} -->