            <!-- Bluebox Text -->
            <div class="row">
              <article class="col-sm-12 page-content course-callout">
				<!-- Optional Text -->
				  <div class="col-sm-12 callout-text {{blue-box-text-class}}">
					<p>{{blue-box-text}}</p>
				  </div>
			    </article>
            </div>
