          <!--Featured Courses-->
            <div class="row">
              <section class="col-sm-12 page-content courses-featured">
                <h3>Featured Courses</h3>
              </section>
              <div class="flag-gradient">
                <!-- <div class="col-md-12"> -->
                  <ul class="bxslider">
{{htmlItems}}
                  </ul>
                <!-- </div> -->
              </div>
              </div>
            </div>
