                    		<div class="col-xs-6 col-sm-6 col-md-3 CourseList {{classes}} {{disabled-div}}" style="display: none;">
                                <a href="/education-training/training-institute/courses-secondary/courses-tertiary?id={{id}}">
                                  <img src="{{image}}" class="img-responsive {{disable-register}}" alt="{{title}}" />
                                  <div class="course-detail">
                                    <div style="vertical-align:top; min-height:122px" class="inner-text">

                                      <span style="max-height:30px; min-height:30px">
                                      	<p>{{title}}</p>
                                      </span>

                                      <span  style="min-height:20%">
                                      	<p>Credits: {{credits}}</p>
                                      	<p>Hours: {{hours}}</p>
                                      </span>

                                    </div>
                                  </div>
                                  <div class="bottom-creds">
                                    <p>{{title}}</p>
                                    <p>Credits: {{credits}}</p>
                                    <p>Hours: {{hours}}</p>
                                  </div>
                                </a>
                              </div>