                <div class="col-sm-6 col-md-6 callout-vid">
                  <a class="video-modal callout-link" href="#{{slug}}" data-toggle="modal" data-target="#{{slug}}">
                    <img src="{{calloutPromoImage}}" alt="{{calloutPromoAlt}}" />
                  </a>
                </div>
                <div class="modal callout" id="{{slug}}" tabindex="-1" role="dialog" aria-labelledby="{{slug}}">
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center" role="document">
                      <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span></span></button>
                        <div class="modal-body">
                          <div id="video-wrapper" class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{embedVideoLink}}"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>