                    <!--Item {{itemCount}}-->
                    <div class="item active">
                      <div class="col-xs-12 col-sm-4 col-md-4">
                        <a href="#">
                          <img src="{{photo}}" class="img-responsive">
                          <div class="slider-detail">
                            <div class="slider-inner-text">
                            <p><u>{{Title}}</u></p>
                            <p>Credits:{{Credits}}></p>
                            <p>Hours:{{Hours}}</p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
