                            <div class="col-xs-6 col-sm-6 col-md-4 CourseList {{classes}}" style="display: none;">
                                <a href="{{href}}">
                                  <img src="{{image}}" class="img-responsive" alt="{{title}}" />
                                  <div class="course-detail">
                                    <div style="vertical-align:top; min-height:122px" class="inner-text">

                                      <span style="max-height:30px; min-height:30px">
                                        <p>{{title}}</p>
                                      </span>

                                      <span  style="min-height:20%">
                                        <p>Credits: {{credits}}</p>
                                        <p>Hours: {{hours}}</p>
                                      </span>

                                    </div>
                                  </div>
                                </a>
                              </div>
