#logo-footer {
  width: 100%;
  float: left;
  padding: 0 0 16px;
  min-height: 300px;
  background: #fff url(../images/header-border-bg.jpg) repeat-x left top;
  position: relative;
  top: -18px;
  z-index: 0;
}

.inner-logo {
  width: 100%;
  float: none;
  text-align: center;
  display: inline-block;
  padding-top: 87px;
  position: relative;
}

.inner-partners {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 34px;
}

.inner-partners a {
  display: inline-block;
  margin: 0 10px 0 0;
}

.inner-partners a:last-child {
  margin-right: 0;
}

.footer-search {
  width: 430px;
  border-bottom: 1px solid #e12a43;
  display: inline-block;
  padding: 0 15px;
}

.footer-search input {
  padding: 0 15px 0 0;
  text-align: left;
  float: left;
  width: 380px;
  height: 40px;
}

.footer-search input.ftr-searchbtn {
  float: left;
  font-size: 0;
  width: 18px;
  height: 40px;
  background: url(../images/search-icon.png) no-repeat right;
  padding: 0;
}

.footer-search ::-webkit-input-placeholder {
  color: #e12a43;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-search ::-moz-placeholder {
  color: #e12a43;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-search :-ms-input-placeholder {
  color: #e12a43;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-search input::-moz-placeholder {
  color: #e12a43;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.ftr-listlink {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 30px 0 0;
  padding: 0;
  font-size: 0;
}

.ftr-listlink li {
  width: auto;
  display: inline-block;
  margin: 0 35px 0 0;
  list-style: none;
}

.ftr-listlink li:last-child {
  margin-right: 0;
}

.ftr-listlink li a {
  color: #2a2e5b;
  font-size: 12px;
  /* font-family: 'exo_2light'; */
  text-transform: uppercase;
}

.ftr-listlink li a:hover {
  color: #e12a43;
}

#partner-part {
  width: 100%;
  float: left;
  background: #fff url(../images/about-bottom.jpg) repeat-x left top;
  min-height: 200px;
  margin-top: -18px;
  padding: 0 0 55px;
}

.inner-partner {
  width: 100%;
  float: left;
  padding: 66px 4px 0 176px;
}

.inner-partner a,
.inner-partner img{
	display: inline-block !important;
}

.inner-partner img{
	margin: 0 5px;	
}

.inner-partner h6 {
  text-transform: uppercase;
  font-size: 11px;
  /* font-family: 'exo_2regular'; */
  line-height: 20px;
  color: #2a2e5b;
  margin-bottom: 15px;
}

.block-1 h6 {
  color: #2a2e5b;
}

.block-2 h6 {
  color: #e12a43;
}

.block-3 h6 {
  color: #5ea9dd;
}

.inner-partner .fa{
	background: none !important;
	vertical-align: middle;
	margin-right: 10px;
	line-height: inherit;
}

.block-3 p {
  margin: 0 0 6px;
  color: #393e44;
  font-size: 14px;
  /* font-family: 'exo_2light'; */
  letter-spacing: 1px;
  line-height: 23px;
}

.block-3 a {
  color: #00f;
  font-size: 14px;
  /* font-family: 'exo_2light'; */
}

.block-3 span {
  width: 100%;
  display: inline-block;
  margin: 10px 0 0;
  color: #9a9a9a;
  font-size: 14px;
  letter-spacing: 1px;
  /* font-family: 'exo_2light'; */
}

.block-3 a:hover {
  color: #e12a43;
}

#main-ftr {
  width: 100%;
  float: left;
  background: #e12a43;
  padding: 15px 0 8px;
}

.innerftr-main {
  padding: 0 100px;
  width: 100%;
  display: inline-block;
}

.innerftr-main .col-sm-2 {
  text-align: center;
}

.innerftr-main p {
  margin: 30px 0 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  /* font-family: 'exo_2light'; */
  letter-spacing: 1px;
}

.innerftr-main p a {
  color: #fff;
}

.innerftr-main p a:hover {
  color: #402952;
}

.innerftr-main ul {
  float: right;
  margin: 30px 0 0;
}

.innerftr-main ul li {
  float: left;
  margin: 0 35px 0 0;
}

.innerftr-main ul li:last-child {
  margin-right: 0;
}

.innerftr-main ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  /* font-family: 'exo_2light'; */
  letter-spacing: 1px;
}

.innerftr-main ul li a:hover {
  color: #402952;
}