#header-main {
  width: 100%;
  float: left;
  background: #fff url(../images/header-border-bg.jpg) repeat-x left bottom;
  padding: 0 0 49px;
}

#header-main .logopart{
	margin-top: -40px;	
}

.inner-header-main {
  padding: 60px 0 0;
}

.logo {
  float: left;
  padding-left: 44px;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}

/*
.right-header {
  padding-left: 25px;
}
*/

.partner-logo {
  width: auto;
  float: left;
  text-align: center;
  max-width: 300px;
  margin-right: 20px;
}

.partner-logo a {
  display: inline-block;
  margin: 10px 6px 0;
}

a.red img {
  width: 124px;
  height: 37px;
}

a.mass img {
  width: 138px;
  height: 28px;
}

.navbar-collapse{
  padding: 0;
}

.menu-navmain {
  padding: 5px 0 0;
}

.nav-main {
  float: left;
  width: 100%;
  padding: 0 0 0 28px;
}

.nav-main ul {
  font-size: 0;
  list-style: none;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

.navbar-nav > li > a{
  padding: 0 10px;
}

.nav-main ul li a {
  text-transform: uppercase;
  font-size: 15px;
  color: #2a2e5b;
  /* font-family: 'exo_2light'; */
  letter-spacing: .5px;
}

.nav-main ul li:hover{
  background: #2a2e5b;
}

.nav-main ul li:hover a,
.nav-main ul li.active a{
	color: #fff;
}

.nav-main ul li.active a.dropdown-toggle,
.nav-main ul li.active a.dropdown-toggle span{
	color: #e12a43;
	background: none !important;
}

.nav-main ul li span {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 10px;
  line-height: 45px;
  /* font-family: 'exo_2light'; */
  color: #e12a43;
  position: relative;
  top: -2px;
}

.nav-main ul li span.minus {
  display: none;
}

.nav-main ul li.open span.minus {
  display: inline-block;
  font-size: 12px;
  margin: 0 0 0 6px;
  color: #fff;
}

.navbar-default{
	margin-bottom: 0;	
}

.navbar-default .navbar-nav > li > a:focus span,.navbar-default .navbar-nav > li > a:hover span {
  color: #fff;
}

.nav-main ul li.open span.plus {
  display: none;
}

.nav-main ul li:hover span,.nav-main ul li.active span,.nav-main ul li.opem span {
  color: #fff;
}

.nav-main ul li ul {
  padding: 30px 30px 15px;
}

.nav-main ul li ul li {
  margin-bottom: 10px;
}

.nav-main ul li ul li span {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0 0 5px;
  width: 100%;
  margin: 0;
}

.nav-main ul li ul li a {
  color: #fff;
  text-transform: capitalize;
  padding: 0;
}

/*

.nav-main ul li ul li:first-child {
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 22px;
  color: #fff;
}

.nav-main ul li ul li:first-child a{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none!important;
}

.nav-main ul li ul li:first-child a:hover{
	text-decoration: none;	
}

*/

.nav-main ul li ul li:hover,.nav-main ul li ul li a:hover {
  background: #2a2e5b;
  color: #fff;
}

/*
.nav-main ul li ul li:hover a {
  text-decoration: underline;
}
*/

a.dropdown-toggle:hover .dropdown-menu {
    display: block;
 }

.navbar-toggle {
  background-color: #c81d34;
  background-image: none;
  border-color: -moz-use-text-color -moz-use-text-color #d2d2d3;
  border-radius: 4px;
  border-style: none none solid;
  border-width: medium medium 2px;
  float: right;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 9px 10px;
  position: relative;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
  background-color: #c81d34;
}
.navbar-nav>li>a {
	padding-top:0;
	padding-bottom:0px;
	line-height:45px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #c81d34;
}

.dropdown-menu {
  background-color: #2a2e5b;
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: outside none none;
  margin: 2px 0 0;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
  border-radius: 0;
  padding-bottom: 0 !important;
}

.dropdown-menu .subnav p{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.dropdown-menu .subnav p a:hover{
	text-decoration: underline;
}

.dropdown-menu .subnav ul{
	padding: 0 0 10px;
		
}

.dropdown-menu .subnav ul li{
	margin-bottom: 0;	
}

.dropdown-menu .subnav ul li a{
	text-wrap: none;
	font-size: 12px;
	display: block;
	border-radius: 4px;
	padding: 5px 10px;
}

.dropdown-menu .subnav ul li a:hover{
	background: #c71d34;	
}

.right-nav {
  width: auto;
  float: right;
  padding: 0 20px 0 0;
  clear: both;
  margin-top: -30px;
}

.right-nav a {
  display: inline-block;
  color: #e12a43;
  font-size: 22px;
  position: relative;
  top: 3px;
  padding: 0 0 0 25px;
}

.right-nav a::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background: #dce3ee;
  top: 0;
  left: 11px;
}

.right-nav form.search-field {
  display: none
}

.right-nav form.search-open {
  width: 200px;
  border: 1px solid #e12a43;
  height: 27px;
  padding: 0 30px 0 10px;
  border-radius: 4px;
  margin-right: 0;
  display: inline-block;
  line-height: 25px;
}

.right-nav .search-btnicon {
  width: 18px;
  height: 30px;
  background: url(../images/search-icon.png) no-repeat;
  display: inline-block;
  border: none;
  padding: 0;
  font-size: 0;
}

.right-nav .search-btnicon::before {
  background: none;
}

.page-banner {
  width: 100%;
  position: relative;
  top: 0;
  margin: -29px 0 0;
  float: left;
  overflow: hidden;
}

.page-banner-img {
  min-height: 400px;
}

.carousel-control {
  width: 5%;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .8s; /*adjust timing here */
         -moz-transition: opacity .8s;
           -o-transition: opacity .8s;
              transition: opacity .8s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.left-right-icon {
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 115px;
}

.slider-content h2 {
  font-size: 32px;
  color: #fff;
  max-width: 625px;
  letter-spacing: .6px;
  /* font-family: 'exo_2light'; */
  text-transform: capitalize;
  line-height: 48px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

.slider-content.video-modal{
	top: 72%;
	margin: 0 10%;
}

.slider-content.video-modal h2 {
  max-width: 100%;
  text-align: center;
}

.slider-content h2 a {
  height: 36px;
  width: 36px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 5px;
}

.slider-content h2 i {
  color: #e12a43;
  font-size: 16px;
  position: relative;
  top: 50%;
  vertical-align: top;
  margin-top: -8px;
  left: 1px;
}

.slider-content h2 a:hover {
  background: #e12a43;
  color: #fff;
}

.slider-content h2 a:hover i {
  color: #fff;
}

.carousel-inner>.item {
  max-height: 300px;
}

.home .carousel-inner>.item {
  max-height: 400px;
}

.page-banner a.video-modal span{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.page-banner a.video-modal span:before {
  font-family: 'FontAwesome';
  content: "\f04b";
  background: #fff;
  padding: 20px;
  margin-left: -20px;
  border-radius: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
}

.carousel-indicators{
	z-index: 10;	
}