/* ----- Homepage ----- */

#slide-main {
    width: 100%;
    float: left;
    margin: -22px 0 0;
}

.home .video-modal h2 a{
  display: none!important;
}

.get-bg {
    background: url(../images/get-care-bg.jpg) repeat left top;
    min-height: 102px;
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
}

.home-blocks {
    background: #fff;
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
}

.home-blocks i.fa{
	color: #e12d45;
}

.learn-info {
    padding: 64px 0 80px;
}

.learn-info h2 {
    color: #2a2e5b;
    line-height: 31px;
    margin-bottom: 30px;
}

.learn-info p {
    margin: 28px 0 35px;
    line-height: 26px;
	font-family: "Caecilia LT Std Roman","Helvetica Neue",Helvetica,Arial,sans-serif
}

.home-blocks .btn-default {
    color: #fff;
    letter-spacing: 1.5px;
    background: #2a2e5b;
    height: 42px;
    width: 140px;
    border-radius: 2px;
    text-transform: uppercase;
    /* font-family: 'exo_2light'; */
    font-size: 12px;
	position: absolute;
	bottom: 50px;
	margin-left: -70px;
	left: 50%;
}

.home-blocks .btn-default:hover {
    background: #e12a43;
}

.home .calendar{
	background: #fff;
	padding-bottom: 4px;	
}

.home .calendar .btn-default {
    line-height: 44px;
    border-radius: 0;
    height: 64px;
    background: #e12d45;
    color: #fff;
    text-transform: uppercase;
    /* font-family: 'exo_2regular'; */
	border: none;
}

.home .calendar .btn-default:hover {
    background: #2a2e5b;
}

.home .featured-video{
	margin-top: -3px;
	background: url(../images/get-care-bg.jpg) repeat left top;
	padding: 20px 0;
}

#content-main {
    position: relative;
    z-index: 1;
}

.inner-blkmain {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
	background: #fff;
}

#block-main .col-sm-4 {
    padding: 0;
}

.block {
    width: 100%;
    background: rgba(42,46,91,1) url(../images/home-news-blocks-bg.png);
    position: relative;
    border: 3px solid #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.block:hover {
    background: rgba(225,42,67,0.9);
}

.block::after {
    content: '';
    background: url(../images/diagonal-bg.png) repeat;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 355px;
    overflow: hidden;
    z-index: 0;
	clear: none !important;
}

.block:hover::after {
    content: '';
    background: url(../images/diagonal-bg-hover.png) repeat;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    min-height: 355px;
    overflow: hidden;
    z-index: 0;
}

.block:hover .img-border {
    border-color: #c41328;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.block:hover .block-inner a.article-link{
    color: #e12a43;
    background: #fff;
}

.block-inner {
    padding: 26px 0 30px;
    text-align: center;
    z-index: 3;
    position: relative;
    width: 100%;
}

.block-inner p {
    margin: 14px 0 22px;
    letter-spacing: .7px;
    font-size: 16px;
    /* font-family: 'exo_2light'; */
    color: #fff;
    line-height: 24px;
    display: block;
    text-transform: uppercase;
	margin-left: 10%;
	margin-right: 10%;
	height: 48px;
	overflow: hidden;
	text-overflow: ellipsis !important;
}

.block-inner a.article-link {
    color: #fff;
    background: #1d204b;
    border-radius: 100%;
    font-size: 16px;
    height: 36px;
    width: 36px;
    padding-top: 10px;
    padding-left: 4px;
    font-weight: 400;
}

.block-inner a.article-link:hover {
    color: #e12a43;
    background: #fff;
}

.block-inner span{
	letter-spacing: 1px;
    font-size: 12px;
    padding: 0 0 19px;
    /* font-family: 'exo_2semi_bold'; */
    color: #2a2e5b;
    text-transform: uppercase;
    display: inline-block;
	border-radius: 2px;
	padding: 6px 15px 4px;
	margin-bottom: 18px;
	border: 1px solid #fff;
	background: #fff;
}

.block-inner a.category-link:hover{
	background: #fff;
	color: #1d204b;
}

.img-border {
    background-size: cover;
    height: 134px;
    width: 134px;
    margin: 0 auto;
    border-radius: 100%;
    border: 4px solid #1d204b;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.img-border:hover {
    border: 4px solid #bd152cl;
}

.main-abtpart {
    background: #fff;
    display: inline-block;
    width: 100%;
}

.about-page {
    position: relative;
    margin-top: 0;
    width: 100%;
    background: url(../images/about-bottom.jpg) repeat-x left bottom;
    float: left;
}

.about-page .col-sm-7,.about-page .col-sm-5 {
    padding: 0;
}

.about-img img {
    height: 580px;
    float: right;
}

.abt-img2 img {
    height: 580px;
    float: left;
}

.about-homebase {
    float: left;
    padding: 112px 50px 0 29px;
    display: inline-block;
    width: 100%;
}

.about-homebase.two {
    padding-top: 60px;
}

a.social {
    padding: 7px 0 0;
    margin: 0 2px 0 0;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

a.social:hover {
    background: #2a2e5b;
}

.fa-twitter {
    background: #5ea9dd;
}

.fa-facebook {
    background: #3b5998;
}

.fa-youtube {
    background: #dc3131;
}

.about-homebase h2 {
    color: #2a2e5b;
    margin: 37px 0 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.about-homebase p {
    color: #2a2e5b;
    line-height: 28px;
    margin: 0 0 31px;
    font-size: 16px;
    /* font-family: 'exo_2light'; */
}

.about-homebase p a {
    color: #fc4349;
    text-decoration: underline;
}

.about-homebase p.abt-link {
    color: #fc4349;
    text-decoration: underline;
    margin: 0 0 19px;
}

.about-homebase p.abt-link a {
    color: #fc4349;
}

.about-homebase p.abt-link a:hover {
    color: #2a2e5b;
}

.about-page .btn-default {
    color: #fff;
    letter-spacing: 1.5px;
    background: #2a2e5b;
    height: 42px;
    width: 140px;
    border-radius: 2px;
    text-transform: uppercase;
    /* font-family: 'exo_2light'; */
    font-size: 12px;
    border: none;
    line-height: 20px;
}

.about-page .btn-default:hover {
    background: #e12a43;
}

.abtsnd-content {
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}

.abtsnd-content .col-sm-5 {
    padding: 0 15px 0 0;
    width: 45%;
}

.abtsnd-content .col-sm-7 {
    width: 55%;
}

.abtsnd-content p.str-title {
    margin: 0 0 5px;
    /* font-family: 'exo_2semi_bold'; */
    font-size: 16px;
    color: #2a2e5b;
    line-height: 26px;
}

.abtsnd-content p.str-title br {
    display: block;
}

.news-main {
    width: 100%;
    background: url(../images/newsletter-bg.jpg) no-repeat left top;
    border-bottom: 10px solid #e12a43;
    padding: 80px 80px 90px 80px;
    background-size: cover;
}

.news-main .col-sm-5 {
    padding: 0;
    margin: 0 131px 0 0;
}

.news-main .col-sm-5.last {
    margin: 0;
}

.newletter-left {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

.newletter-left p {
    margin: 15px 0 0;
    text-transform: uppercase;
    font-size: 22px;
    /* font-family: 'exo_2light'; */
    color: #fff;
    letter-spacing: .8px;
}

.newletter-left h6 {
    margin: 0 0 4px;
    text-transform: uppercase;
    font-size: 14px;
	font-weight: bold;
    /* font-family: 'exo_2extra_bold' !important; */
    color: #fff;
    letter-spacing: 1px;
}

.newsletter-form {
    width: 100%;
    float: left;
    margin: 11px 0 0;
    padding: 0;
    min-height: 160px;
}

#newsletter-form .form-group,
.newsletter-form .form-group{
	position: relative;	
}

#newsletter-form .form-group,
.newsletter-form .form-group,
.help-block{
	margin: 0;
}

#newsletter-form .help-block,
.newsletter-form .help-block{
	font-size: 11px;
	position: absolute;
	bottom: -5px;
	width: 100%;
	text-align: center;
}

#newsletter-form .help-block ul,
.newsletter-form .help-block ul{
	padding: 5px 0;
}

.newsletter-form input{
    width: 100%;
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    color: #2a2e5b;
    margin-bottom: 1px;
    /* font-family: 'exo_2light'; */
    border: 1px solid #fff;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.newsletter-form input:focus{
    border: 1px solid #c81d34;
}

.newsletter-form input.first-textbox{
    border-radius: 2px 2px 0 0;
}

.newsletter-form input.news-submit{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 1px;
    /* font-family: 'exo_2light'; */
    background: #e12a43;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    border: 1px solid #e12a43;
}

.newsletter-form input.news-submit:hover,
.newsletter-form input.news-submit:focus {
    background: #c81d34;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.newsletter-form .gfield_label{
	display: none;
}

.newsletter-form .ginput_complex{
	border: none;
	padding: 0;	
}

.newsletter-form .ginput_left,
.newsletter-form .ginput_right{
	display: block;
	width: 100% !important;
	float: none !important;
}

.newsletter-form .ginput_complex .ginput_left input, 
.newsletter-form .ginput_complex .ginput_left label, 
.newsletter-form .ginput_complex .ginput_left select, 
.newsletter-form .ginput_complex .ginput_left textarea{
	width: 100% !important;
}

.newsletter-form .gform_wrapper li{
	margin-bottom: 0 !important;
}

.newsletter-form .form-control, 
.newsletter-form .ginput_container input[type="email"]{
  border: 1px solid #fff;
  border-radius: 0;
  color: #2a2e5b;
  font-size: 16px;
  height: 48px;
  margin-bottom: 1px;
  padding: 0 20px;
  width: 100%;
}

.newsletter-form .btn-primary, 
.newsletter-form .gform_button {
  background: #e12a43;
  border: 1px solid #e12a43;
  border-radius: 0 0 2px 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  margin-bottom: 1px;
  padding: 0 20px;
  transition: all 0.3s ease-in-out 0s;
  width: 100%;
  text-transform: uppercase;
}

.newsletter-form .btn-primary:hover,
.newsletter-form .btn-primary:focus,
.newsletter-form .gform_button:hover,
.newsletter-form .gform_button:focus{
    background: #c81d34;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.newsletter-form .form-control:focus, 
.newsletter-form .ginput_container input[type="email"]:focus{
  border-color: #e12a43 !important;
  box-shadow: none;
}

.newsletter-form .ginput_container .ginput_left input[type="email"]{
  border-radius: 2px 2px 0 0 !important;
}

.newsletter{
	padding: 20px 50px;
	border-bottom: 10px solid #e12a43;
	background: #2a2e5b;
	text-align: center;	
	color: #fff;
	margin-top: -2px;
}

.newsletter img{
	float: left;
	max-width: 50px;
}

.newsletter h6 {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
}

.newsletter input {
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    color: #2a2e5b;
    margin-bottom: 1px;
    border: 1px solid #fff;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.newsletter input:focus {
    border: 1px solid #c81d34;
}

.newsletter input.first-textbox {
    border-radius: 2px 2px 0 0;
}

.newsletter input.news-submit {
    height: 54px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 1px;
    /* font-family: 'exo_2light'; */
    background: #e12a43;
    border-radius: 0 0 2px 2px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    border: 1px solid #e12a43;
}

.newsletter input.news-submit:hover,.newsletter input.news-submit:focus {
    background: #c81d34;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

#newsletter-form input,
#newsletter-form input.first-textbox{
	 border-radius: 2px !important;
}

/* ------ Internal Pages ------ */

input.error {
    background: url(../images/cross.svg) no-repeat right 9px #fff!important;
    transition: border .3s;
    background-size: 9%!important
}

input.valid {
    background: url(../images/right-tick.svg) no-repeat scroll right 9px #fff!important;
    transition: border .3s;
    background-size: 9%!important
}

.successmsg {
    color: #4ba82e;
    font-size: 14px;
    display: none;
    font-weight: 600;
    padding: 2px 0 0 2px;
    float: left
}

.page-menu .container {
    padding: 0;
}

.page-menu {
    position: relative;
    width: 100%;
    float: left;
	border-bottom: 30px solid #fff;
}

.page-menu-accordian {
    background: #2a2e5b;
    min-height: 240px;
    color: #fff;
    padding: 40px 40px 0 40px;
}

.page-menu-accordian h3 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    /* font-family: 'exo_2light'; */
    text-transform: uppercase;
    border-bottom: 1px solid #e12a43;
    width: 92%;
	margin-bottom: 20px;
}

.page-menu-accordian p{
	font-size: 18px;
	line-height: 24px;	
}

.page-menu-accordian p.get-care{
	text-align: center;
	font-size: 22px;
}

.page-menu-accordian a.btn{
	display: block;
	margin: 20px 0;
	width: 92%;
	padding: 20px;
	text-transform: uppercase;
}

.page-menu-right a.btn{
	display: block;
	padding: 20px;
	text-transform: uppercase;
	width: 75%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

.page-menu-right a.btn-default{
	color: #2a2e5b !important;
}

.page-menu-right p{
	margin-top: 20px;	
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.page-menu-right a{
	color: #fff;	
}

.page-menu-right p.get-care{
	font-size: 24px;	
}

.page-menu-right h2{
	margin-top: 25px;	
}

.page-menu-right h3 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    /* font-family: 'exo_2light'; */
    text-transform: uppercase;
    border-bottom: 1px solid #2a2e5b;
	margin-bottom: 20px;
}

.page-menu-accordian .btn{
	text-transform: uppercase;	
}

.page-menu-right {
    padding: 20px 70px 0;
    color: #fff;
    background: #e12a43;
    min-height: 240px;
}

.page-menu-right .newsletter-form{
	padding: 0 70px;	
}

.page-menu-right .newsletter-form .form-group{
}

.page-menu-right h5{
	margin: 10px 0;	
}

.page-menu-right .newsletter-form input.news-submit {
  	background: #2a2e5b;
  	border: 1px solid #2a2e5b;
}

.page-menu-right .newsletter-form input.news-submit:hover{
	background: #1b1e3b;
}

.breadcrumbs{
	padding: 5px 10px;
	border-top: 1px dotted rgba(237,242,250,.2);
	border-bottom: 1px dotted rgba(237,242,250,.2);
	background: #2a2e5b;
	color: #fff;
}

.breadcrumbs .addthis_toolbox{
	float: right;
}

.breadcrumbs .addthis_toolbox a{
	margin-bottom: 0;	
	line-height: 1;
	margin-top: 3px;
}

.breadcrumbs .addthis_toolbox span.at-icon-wrapper{
	line-height: 18px;
	height: 18px; 
	width: 18px;
}

/*

.page-menu-right h3 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    font-family: 'exo_2light';
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-width: 320px;
}

.page-menu-right p {
    padding: 14px 0 33px;
    font-family: 'exo_2light';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .1px;
}
*/

.btn-readmore {
    color: #fff;
    letter-spacing: 1.5px;
    background: #2a2e5b;
    height: 40px;
    width: 140px;
    border-radius: 2px;
    text-transform: uppercase;
    /* font-family: 'exo_2light'; */
    font-size: 12px;
    border: none;
}

.btn-readmore:hover,.btn-readmore:focus {
    background: #e12a43;
    color: #fff;
}

.page-menu-right .btn-readmore:hover,.page-menu-right .btn-readmore:focus {
    background: #ad071e;
}

.page-menu-right::before {
    width: 0;
    height: 0;
    border-top: 240px solid #E12A43;
    border-left: 30px solid transparent;
    position: absolute;
    left: -30px;
    top: 0;
    content: '';
}

.img-shape {
    height: 400px;
    width: 40px;
    background-color: #fff;
    -webkit-transform: skew(5.4deg);
    transform: skew(5.4deg);
    position: absolute;
    left: -21px;
}

.ser-img {
    position: relative;
}

.abt-img1 .img-shape {
    height: 580px;
    width: 40px;
    background: #fff url(../images/about-bottom.jpg) repeat-x left bottom;
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
    position: absolute;
    left: 50px;
}

.abt-img2 {
    position: relative;
}

.abt-img1 {
    position: relative;
}

.abt-img3 {
    position: relative;
}

.abt-img2 .img-shape::before {
    display: none;
}

.abt-img2 .img-shape {
    height: 580px;
    width: 95px;
    background: #fff url(../images/about-bottom.jpg) repeat-x left bottom;
    -webkit-transform: skew(9deg);
    transform: skew(9deg);
    position: absolute;
    left: auto;
    right: -48px;
    content: '';
}

.abt-img2 .img-shape::after {
    content: '';
}

.abt-img3 .img-shape {
    height: 581px;
    width: 50px;
    background: #fff url(../images/about-bottom.jpg) repeat-x left bottom;
    -webkit-transform: skew(4.4deg);
    transform: skew(4.4deg);
    position: absolute;
    left: -27px;
    content: '';
}

.abt-img3 .img-shape::after {
    content: '';
}

.inner-body {
    background: #fff;
    width: 100%;
    float: left;
}

.page-menu .col-sm-5 {
    padding-right: 0;
}

.page-menu .col-sm-7 {
    padding-left: 0;
}

.accordion-group {
    margin-bottom: 0;
    margin-top: 25px;
}

.accordion-heading,.accordion-toggle:hover,.accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0 0 transparent;
}

.accordion-heading {
    border-bottom: 0 none;
    font-size: 16px;
	margin-bottom: 10px;
}

.accordion-heading a{
	color: #fff;	
}

.accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    color: #fff;
    outline: medium none!important;
    text-decoration: none;
	height: 0;
}

.accordion-heading a.accordion-toggle:before {
	font-family:'FontAwesome';
	content:"\f056";
	float:left;
	color:inherit;
	padding-right: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	width: 20px;
	margin-left: -20px;
	color: #e12a43;
}

.accordion-heading a.accordion-toggle.collapsed:before {
	content:"\f055";
}

.accordion-heading .accordion-toggle.active em {
    background-color: #e12a43;
}

.accordion-heading .accordion-toggle > em {
    background-color: #e12a43;
    border-radius: 50%;
    color: #2a2e5b;
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    text-align: center;
}

.accordion-body ul {
	margin: 10px 0 0 20px;
}

.accordion-body ul li a {
    color: #fff;
    line-height: 28px;
}

.max-height1 {
    max-height: 400px;
}

.accordion-inner ul li a:hover {
    text-decoration: underline;
}

.page-content {
    padding: 0 90px 20px;
    background: #fff;
}

.page-content h3 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    /* font-family: 'exo_2light'; */
    text-transform: uppercase;
    border-bottom: 1px solid #e12a43;
    width: 99%;
    color: #1f3c6c;
	margin-bottom: 20px;
}

.page-content ul,
.page-content ol{
	padding: 15px 15px 15px 60px;
	margin: 20px 0;
	background: #2a2e5b;
	border-radius: 2px;
}

.page-content ul li{
	list-style:none;
	margin: 5px 0 10px;
	line-height: 26px;
	color: #fff;
}

.page-content ul li:before {
  font-family:'FontAwesome';
  content:"\f058";
  display: inline-block;
  width: 25px; 
  margin-left: -25px;
}​

.page-content ol li{
	list-style: decimal;
	margin: 5px 0 10px;
	line-height: 26px;
	color: #fff;
}

.page-content ol li ul li{
	list-style: circle;
}

.resources .page-content ul,
.resources .page-content ol{
	background: none !important;
	border: 1px solid #2a2e5b;
}

.resources .page-content ul li{
	color: #2a2e5b !important;
}

.resources .page-content ul li:before {
  content:"\f08e";
  color: #2a2e5b !important;
}​

.resources .page-content ul li ul{
	border: none !important;
	padding: 0 0 0 40px !important;	
}

.resources .page-content ul li ul li{
	list-style: circle !important;
}

.resources .page-content ul li ul li:before {
  content: normal !important;
  color: #2a2e5b !important;
}​

.page-content p {
    color: #2a2e5b;
    font-size: 16px;
    line-height: 26px;
	margin-bottom: 20px;
	/* font-family: 'exo_2light'; */
}

.page-content.two-colums p {
    color: #2a2e5b;
    width: 50%;
    padding-right: 2%;
    font-size: 16px;
    line-height: 26px;
}

/* ----- Team Bios ----- */

.bios{
	padding-bottom: 30px;	
}

.bios .bio{
	border: 2px solid transparent;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}

.bios .bio:hover{
	border: 2px solid #edf2fa;
}

.bios .bio .thumb{
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 175px;
	display: block;
}

.bios .bio p{
	margin: 0;
}

.bios .bio p.title{
	font-size: 14px;	
}

.bios .bio div.divider{
	border-bottom: 5px solid #edf2fa;
	width: 50%;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

.bios .bio .fa{
	color: #e12a43;
	font-size: 22px;
}

.bios .bio a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;	
}

.bios .modal-content{
	border-radius: 0;
	position: relative;
}

.bios .modal-content .close {
  color: #e12a43;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 9999;
  text-shadow: none;
  font-size: 18px;
}

.bios .modal-body{
	padding: 0 !important;
	overflow: hidden;
}

.bios .modal-content .profile-thumb{
	background: url(../images/bio-bg.png) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 20px;
	padding-bottom: 100%;
    margin-bottom: -100%;
}

.bios .modal-content .profile-thumb p{
	color: #fff;
	margin: 0;
}

.bios .modal-content .profile-thumb p.name{
	font-size: 18px;	
}

.bios .modal-content .profile-thumb p.title{
	font-size: 14px;	
}

.bios .modal-content .profile-thumb div.thumb{
	max-width: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
	margin-bottom: 20px;
}

.bios .modal-content .profile-bio{
	padding: 30px 30px 10px;	
}

/* ----- Location Menus ----- */

#locations .location-block{
	margin-bottom: 50px;	
}

#locations .location-block a{
	display: block;
	position: relative;
	border: 1px solid #ccc;
}

#locations .location-block h4{
	width: 100%;
	padding: 10px 20px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.9);
	text-align: center;
}

/* ----- Self Assesment ----- */

.take-our-online-self-assessment .gfield_label{
	padding: 10px;
	background: #2a2e5b;
	color: #fff;
	width: 100%;
}

/* ----- Training Institute ----- */
.training-institute .slider-content h2,
.courses-secondary .slider-content h2,
.courses-tertiary .slider-content h2 {
  text-transform: none;
}
.course-nav{
  padding: 50px 0px;
  background: #e12a43;
  background: url('../images/pattern-img.png') repeat;
}
.course-nav h3,
.courses-featured h3{
  font-family: 'cocogoose light', sans-serif;
  text-align: center;
  border-bottom: 1px solid transparent;
  color: #e12a43;
}
.btn-courses a p{
  color: #2a2e5b;
  text-align: center;
  font-size: 18px;
  font-family: 'cocogoose light',sans-serif;
}
.btn-professionals,
.btn-responders,
.btn-families,
.btn-community{
  width: 75px;
  height: 75px;
  margin: 20px auto;
}
.btn-professionals{
  background: url('../images/HealthcareProfessionals.png') no-repeat;
}
.btn-responders{
  background: url('../images/FirstResponders.png') no-repeat;
}
.btn-families{
  background: url('../images/MilitaryFamilies.png') no-repeat;
}
.btn-community{
  background: url('../images/CommunityMembers.png') no-repeat;
}
.btn-courses a:hover .btn-professionals,
.btn-courses a:hover .btn-responders,
.btn-courses a:hover .btn-families,
.btn-courses a:hover .btn-community,
.btn-courses a:focus .btn-professionals,
.btn-courses a:focus .btn-responders,
.btn-courses a:focus .btn-families,
.btn-courses a:focus .btn-community{
  background-position: 0px -150px;
}
.btn-courses a:active .btn-professionals,
.btn-courses a:active .btn-responders,
.btn-courses a:active .btn-families,
.btn-courses a:active .btn-community,
.btn-courses a:visited .btn-professionals,
.btn-courses a:visited .btn-responders,
.btn-courses a:visited .btn-families,
.btn-courses a:visited .btn-community,
.btn-courses a.btn-active .btn-professionals,
.btn-courses a.btn-active .btn-responders,
.btn-courses a.btn-active .btn-families,
.btn-courses a.btn-active .btn-community{
  background-position: 0px -75px;
}
.btn-courses a:active p,
.btn-courses a:hover p,
.btn-courses a:visited p,
.btn-courses a.btn-active p{
  color: #e3263e;
}
.training-institute .page-menu {
  border-bottom: none;
}
.training-institute #section-menu {
  padding-top: 30px;
}
#funding-partners .col-md-3 a img{
  margin: 0 auto 15px;
}
.training-institute #contact-us .col-sm-12{
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .page-menu .training-menu {
    width: 100%
  }
}
@media (min-width: 992px){
  
}
@media (max-width: 990px){
  #funding-partners .col-sm-12 a img{
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .page-menu .training-menu {
      margin-left: 0px;
  }
  .training-institute br,
  .courses-secondary br,
  .courses-tertiary br {
      display: block!important;
  }
}
/* ----- Find A Course ----- */

#find-a-course table{
	font-size: 14px;
}

#find-a-course table a{
	color: #2a2e5b;
	font-weight: 700;
}

#find-a-course ul{
  margin: 15px 0;
  padding: 15px;
  text-align: center;
}

#find-a-course ul li{
	display: inline-block;	
  margin: 0;
}

#find-a-course ul li:before {
  content: "";
  margin-left: 0;
  width: 0;
}

#find-a-course table{
  border-radius: 2px;	
}

#find-a-course .fa-calendar,
#find-a-course tr.live-learning .fa-circle{
	color: #5cb85c;
}

#find-a-course .fa-wifi,
#find-a-course tr.online-series .fa-circle{
	color: #f0ad4e;
}

#find-a-course .fa-desktop,
#find-a-course tr.on-demand-learning .fa-circle{
	color: #0275d8;
}

#find-a-course .fa.fa-inverse{
	color: #fff;	
}

#find-a-course .fa-sm{
	font-size: 14px;
}

#find-a-course td.activity-type{
	text-align: center; 
  vertical-align: middle;	
}

/* ----- Section Menus ----- */

#section-menu .menu-block{
	margin: 15px 0;
}

#section-menu .menu-block .img-wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 575px;
}

#section-menu .menu-block .img-wrapper h4{
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 9;
	color: #fff;
	margin: 0;
	max-width: 80%;
}

#section-menu .menu-block .img-wrapper .fa-stack{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #e12a43;
	z-index: 99;
}

#section-menu .menu-block .img-wrapper a:hover .fa-stack{
	color: #bd1b31;
}

#section-menu .menu-block .img-wrapper a{
	color: #fff;	
	text-shadow: 1px 1px 1px #000;
}

#section-menu .menu-block .img-wrapper span.gradient{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%);
}

#sitemap ul li{
	list-style: none;
	/* font-family: 'exo_2regular'; */
}

#sitemap ul li ul li{
	list-style: circle;
	/* font-family: 'exo_2light'; */
}

/* Accordion Styles */
.accordion{
  margin: 20px 0px;
}
.accordion .panel-default>.panel-heading {
  color: #fff;
  background-color: #2a2d5c;
  border-color: #2a2d5c;
}
.accordion h3.panel-title {
  font-size: 20px;
  font-family: 'cocogoose light', sans-serif;
}
.accordion .panel-title a {
  display: block;
  color: #fff;
  padding: 8px 0px;
}
.accordion .panel-title a:before{
  font-family: FontAwesome;
  content: "\f056";
  float: left;
  color: inherit;
  padding-right: 10px;
  vertical-align: top;
  font-size: 30px;
  margin-top: -5px;
}
    .accordion .panel-title a.collapsed:before{
      content: "\f055";
    }
.accordion p{
  margin-bottom: 20px;
}

/* ----- Courses Secondary ----- */
.course-disabled {
  border: 3px solid #ccc!important;
  background-color: #ccc!important;
  pointer-events: none;
  cursor: default;
}
  img.course-disabled{
    -webkit-filter: grayscale(100%) opacity(20%);
       -moz-filter: grayscale(100%) opacity(20%);
         -o-filter: grayscale(100%) opacity(20%);
        -ms-filter: grayscale(100%) opacity(20%);
            filter: grayscale(100%) opacity(20%);
  }
  .disabled-div:after{
  	position: absolute;
    top: 110px;
    left: 2px;
    font-family: 'Cocogoose Demibold', sans-serif;
    content: "Course Not Available \A Click for Details";
    text-align: center;
    width: 100%;
    padding: 0px 30px;
    color: #e12a43;
  }  
.courses-secondary .page-menu .training-menu{
  text-align: center;
  padding: 80px 90px;
  border-bottom: 2px solid rgb(0,0,0);
  color: #fff;
  background: #292c5c url(../images/pattern-img.png) repeat;
}
.courses-secondary .page-menu .training-menu h5{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .4px;
  font-family: 'Cocogoose Semibold', "Helvetica Neue", sans-serif;
}
.courses-secondary .accordion{
  margin: 0;
}
.courses-featured{
  padding-top: 20px;
}
.flag-gradient{
  background: url(../images/american-flag-blueoverlay.png) no-repeat;
  height:500px;
  width:100%;
  overflow: hidden;
  position: relative;
}
  /* Slider */
  .flag-gradient .bx-wrapper{
    margin: 65px auto 0;
    box-shadow: none;
    border: 5px solid transparent;
    background: transparent;
    max-width: 930px!important;
  }
  .flag-gradient .bx-wrapper img{
    margin: 0 auto;
  }
    .flag-gradient .bx-wrapper .bx-loading {
      background: url(../images/bx_loader.gif) center center no-repeat #ffffff;
    }
    .flag-gradient .bx-wrapper .bx-prev{
      background: url(../images/controls.png) no-repeat 0 -32px;
    }
    .flag-gradient .bx-wrapper .bx-next{
      background: url(../images/controls.png) no-repeat -43px -32px;
    }
    .flag-gradient .bx-wrapper .bx-controls-auto .bx-start{
      background: url(../images/controls.png) -86px -11px no-repeat;
    }
    .flag-gradient .bx-wrapper .bx-controls-auto .bx-stop{
      background: url(../images/controls.png) -86px -44px no-repeat;
    }
  .slider-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250,250,250,0.8);
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    height: 50%;
    transition: .5s ease;
    display: none;
  }
      .slider-inner-text{
        padding: 20px;
      }
      .slider-inner-text p{
        margin-bottom: 0px;
        font-size: 12px;
      }
        .slider-inner-text p:first-of-type{
          margin-bottom: 8px;
        }
  .slider-creds{
    width: 250px;
    margin: 0 auto;
  } 
    .slider-creds p{
      color: #fff;
    }
    .slider-creds p:first-of-type{
      text-align: center;
    }
    .slider-creds p:nth-of-type(2),
    .slider-creds p:nth-of-type(3){
      font-size: 12px;
    }
.courses-secondary .accordion-inner .page-content{
  padding: 0 30px 20px;
}        
.course-section .col-xs-6,
.course-section .col-sm-6,
.course-section .col-md-4 {
  margin-bottom: 20px;
  position: relative;
}
.courses-secondary .bottom-creds{
  text-align: center;
  background: #edf2fa url(../images/pattern-img.png) repeat;
  min-height: 80px;
}
  .courses-secondary .bottom-creds p{
    color: rgb(42,45,92);
  }
  .courses-secondary .bottom-creds p:first-of-type,
  .slider-creds p:first-of-type{
    min-height: 60px;
    padding-top: 4%;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Cocogoose Semibold', sans-serif;
  }
  .courses-secondary .bottom-creds p:nth-of-type(2),
  .courses-secondary .bottom-creds p:nth-of-type(3),
  .slider-creds p:nth-of-type(2),
  .slider-creds p:nth-of-type(3){
    width: 50%;
    float: left;
  }
  .courses-secondary .bottom-creds p:nth-of-type(2),
  .slider-creds p:nth-of-type(2){
    text-align: right;
  }
  .courses-secondary .bottom-creds p:nth-of-type(3),
  .slider-creds p:nth-of-type(3){
    text-align: left;
  }
  .courses-secondary .bottom-creds p:nth-of-type(2):after,
  .slider-creds p:nth-of-type(2):after{
    content: "|";
    padding: 0px 5px;
  }
.course-detail{
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  background-color: rgba(250,250,250,0.8);
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 55%;
  transition: .5s ease;
  display: none;
}
  .inner-text{
    box-sizing: border-box;
    padding-right: 75px;
    padding-left: 15px;
    padding-top: 10px;
  }
  .course-section p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .course-detail .inner-text p:first-of-type {
    margin-bottom: 8px;
  }
@media (max-width: 990px){
  .flag-gradient .bx-wrapper{
    max-width: 630px!important;
  }   
  .disabled-div:after{
    left: 4px;
    padding: 0 50px;
  }  
  .course-nav h3{
    padding-top: 20px;
  }
  .courses-secondary .page-menu .training-menu{
    padding: 80px 18px;
  }
  .inner-text{
    padding-right: 15px;
  }
  .course-section p{
    font-size: 10px;
  }
  .course-detail .inner-text p:first-of-type{
    margin-bottom: 2px;
  }
  .CourseList a img{
      margin: 0 auto;
  }
  .courses-secondary .bottom-creds{
      width: 250px;
      margin: 0 auto;
  }
}
@media (max-width: 768px){
  .disabled-div:after{
    left: 0px;
    padding: 0 30px;
  }
  .flag-gradient .bx-wrapper{
    max-width: 300px!important;
  } 
}
@media (max-width: 630px){
  .disabled-div:after{
    left: 10%;
    width: 80%;
    padding: 0 50px;
  } 
  .course-section .col-xs-6 {
    width: 100%;
    float: none;
  }
  .course-section a img {
    margin: 0 auto;
  }
  .course-detail{
    width: 270px;
    height: 50%;
  }
}
@media (max-width: 499px){
  .disabled-div:after{
    left: 2px;
    width: 100%;
    padding: 0 30px;
  }
}  
/* ----- Courses Tertiary ----- */
.courses-tertiary .page-menu{
  display: none;
}
.page-menu .course-description {
  background-color: #fff;
  margin-left: 15px;
  width: 1170px;
  text-align: center;
  padding: 50px 0px 0px
}

.page-menu .course-description h5 {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .4px;
  font-family: 'Cocogoose Demibold', "Helvetica Neue", sans-serif
}

@media (max-width: 1200px) {
    .page-menu .course-description {
      width: 100%
    }
}

@media (max-width: 768px) {
    .page-menu .course-description {
      margin-left: 0px
    }
}

.course-description .btn-primary {
  background-color: #2a2e5b;
  border-color: #2a2e5b;
  margin: 20px;
  padding: 20px 50px;
  text-transform: uppercase
}

.course-specifics h1 {
  font-size: 21px;
  color: #e12a43
}

.course-specifics p {
  margin: 15px 0px
}

.course-specifics p span {
  color: #e12a43;
  font-weight: 700
}

p.instructors {
  margin: 0px;
}

.course-specifics ul {
  padding: 0px;
  margin: 0px;
  background: #fff;
}

.course-specifics ul li {
  margin: 0;
  color: black;
}
    .course-specifics ul li:before{
      content: none;
    }

.course-specifics ul li:nth-child(even) {
  float: right;
  width: 50%;
  margin: 0;
}

.course-specifics ul li:nth-child(odd) {
  float: left;
  width: 50%;
  margin: 0;
}

.course-callout{
  background: #2a2e5b;
  margin: 20px 0px;
}
.callout-text{
  padding-top: 40px;
  text-align: center;
} 
  .courses-tertiary .callout-text h3{
    color: #fff;
    font-family: 'Cocogoose Light', sans-serif;
  }   
  .courses-tertiary .callout-text p{
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
.callout-link{
  position: relative;
  display: block;
} 
  .callout-link:before{
    content: '\f04b';
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 15px 25px 25px;
    color: white;
    font-family: 'FontAwesome';
    font-size: 48px!important;
    background-color: #e12a43;
    border-radius: 5px;
    transition: all .5s ease;
  }
  .callout-vid a:hover::before{
    color: #e12a43;
    background-color: #fff;
  }
  .callout-vid {
    float: right;
    text-align: center;
  }
    .courses-tertiary .embed-responsive-16by9 {
      padding-bottom: 36.25%;
    }
  .callout-vid img{
    width: 80%;
  }
  .callout{
    padding-bottom: 30px;
  }
    .callout .modal-content{
      border-radius: 0;
      position: relative;
    }
    .callout .modal-content .close{
      color: #e12a43;
      opacity: 1;
      position: absolute;
      top: -20px;
      right: -20px;
      z-index: 9999;
      text-shadow: none;
      font-size: 18px;
    }
    .callout .modal-body{
      padding: 0!important;
      overflow: hidden;
    }
.learning-obj{
  float: left;
}    
.course-objectives{
  padding-top: 20px!important;
} 
  .course-objectives p {
    color: #e12a43;
    font-weight: bold
  }
  .course-objectives ul {
    background: #fff;
    padding: 20px 0;
    margin: 0 0 0 15px;
  }
  .course-objectives ul li {
    color: #000;
    margin: 0;
    line-height: 32px;
    font-size: 16px;
  }
  .course-objectives ul li:before {
    content: "\f111"!important;
    margin-left: 0;
    font-size: 10px;
  }

.courses-tertiary .course-section p{
  font-size: 16px;
  margin-bottom: 10px;
}
    .courses-tertiary .course-section p span{
      display: block;
      color: #e3263e;
    }

.courses-tertiary .accordion h3.panel-title {
  border-bottom: none;
  margin-bottom: 0px;
}

.accred-even {
  background-color: #e12a43;
  color: #fff;
  padding: 20px
}

.accred-odd {
  background-color: #2a2e5b;
  color: #fff;
  padding: 20px
}

.accred-inner {
  margin-bottom: 15px
}

.accred-inner h6,
.accred-inner p {
  margin-bottom: 10px
}

.accred-inner p span {
  display: block;
  text-decoration: underline
}

.course-objectives h4,
.course-audience h4,
.course-accred h4 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
  font-family: "cocogoose light";
  text-decoration: underline;
  padding-bottom: 20px;
  color: #2a2e5b;
  font-weight: 700;
}

.register-btn {
  text-align: center;
  padding: 50px 0px
}

.register-btn a {
  border: 3px solid #e12a43;
  background-color: #e12a43;
  color: #fff;
  font-family: 'cocogoose demibold', sans-serif;
  text-transform: uppercase;
  line-height: 32px;
  padding: 10px 40px;
}

.register-btn a:hover,
.register-btn a:visited,
.register-btn a:focus {
  border: 3px solid #e12a43;
  background-color: #e12a43;
  color: #fff;
}

.course-listing-back {
  padding: 10px 0px 60px;
  text-align: center;
  border: 4px solid transparent
}

.course-listing-back a {
  background-color: #2a2e5b;
  color: #fff;
  border-color: transparent;
  line-height: 32px;
  padding: 10px 40px;
  font-family: 'cocogoose light';
  text-transform: uppercase;
  font-size: 15px
}

.course-listing-back a:hover,
.course-listing-back a:visited,
.course-listing-back a:focus {
  background-color: #2a2e5b;
  color: #fff;
  border-color: transparent
}

@media (max-width: 768px) {
  .learning-obj,
  .callout-vid{
    float: none;
  }
  .learning-obj{
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .courses-tertiary .embed-responsive-16by9{
      padding-bottom: 56.25%;
  }
  .course-img,
  .course-specifics {
      padding-left: 0px;
      padding-right: 0px
  }
  .course-specifics {
      margin-top: 40px
  }
  .course-accred .col-sm-4 {
      padding-left: 0px;
      padding-right: 0px
  }
}        