.post,
article.locations{
    padding: 45px 90px 20px;
    background: #fff;
}

.page-header{
	padding: 45px 90px 0;
    background: #fff;
	margin: 0;
	border: none;
}

.page-header h3 {
  color: #fff;
  background: #1f3c6c;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 2px;
}

.post h2,
article.locations h2 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    /* font-family: 'exo_2light'; */
    text-transform: uppercase;
    border-bottom: 1px solid #e12a43;
    width: 99%;
    color: #1f3c6c;
	margin-bottom: 20px;
}

.post .social .addthis_toolbox{
	float: right;
}

.post ul,
article.locations ul{
	padding: 0 0 20px 30px;	
}

.post ul li,
article.locations ul li{
	list-style: disc;
	margin: 5px 0;	
}

.post p,
article.locations p {
    color: #2a2e5b;
    font-size: 16px;
    line-height: 26px;
	margin-bottom: 20px;
}

.entry-summary .read-more{
	text-align: right;
}

.posts-navigation{
	padding: 20px 20px 40px;
	background: #fff;
	display: block;
}

.posts-navigation .nav-links{
	overflow: auto;
}

.posts-navigation .nav-previous{
	float: left;
}

.posts-navigation .nav-next{
	float: right;
}

.posts-navigation a{
	background: #2a2e5b;
	border: 1px solid #2a2e5b;
	color: #fff;
	@extend .btn;
}

.posts-navigation a:hover{
	background: #1b1e3b;
	color: #fff;
}