.sidebar{
	background: #fff;
	padding: 20px;
}

.sidebar h3 {
    padding-bottom: 6px;
    letter-spacing: .6px;
    /* font-family: 'exo_2light'; */
    text-transform: uppercase;
    border-bottom: 1px solid #e12a43;
    width: 99%;
    color: #1f3c6c;
	margin-bottom: 20px;
}

.sidebar .widget{
	margin-bottom: 20px;	
}

.sidebar ul li{
	margin: 5px 0 10px;
	line-height: 20px;
}