                    <!--Item {{number}}:{{id}} -->
                    <li>
                      <a href="{{href}}">
                        <img src="{{thumb}}" class="img-responsive" alt="{{title}}">
                        <div class="slider-detail">
                          <div class="slider-inner-text">
                          <p>{{title}}</p>
                          <p>Credits: {{credits}}</p>
                          <p>Hours: {{hours}}</p>
                          </div>
                        </div>
                        <div class="slider-creds">
                          <p>{{title}}</p>
                          <p>Credits: {{credits}}</p>
                          <p>Hours: {{hours}}</p>
                        </div>
                      </a>
                    </li>
